<body class="landing-page sidebar-collapse">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- End Navbar -->    
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/posterViaje-min.png');">
        <video autoplay muted loop id="videoViaje" *ngIf="!esTel">
            <source src="./assets/vid/unMinutoPorEuropa2.mp4" type="video/mp4">
            <source src="./assets/vid/unMinutoPorEuropa.webm" type="video/webm">
        </video>
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
            <br>
            <h1 class="titulo">Nuestro viaje</h1>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <!-- <h2 class="title">Un camino realmente inolvidable</h2> -->
                        <p class="h4 description">
                            Cada año, desde 1969, realizamos un viaje técnico cultural por Europa. Para nosotros significa la
                            culminación de todo un proceso de aprendizaje no solamente profesional, sino también humano y personal
                            gracias a AVEIT. Durante nuestra estadía en el viejo continente visitamos decenas de paises y
                            organizaciones, nutriéndonos de su cultura de trabajo y de su historia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center" style="z-index:10;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <h2 class="title">Un camino realmente inolvidable</h2>
                        <div class="row"> 
                            <!-- Este div es para que no se vea la parte de contacto antes de que cargue el collage -->
                            <div style="height: 1000px;" *ngIf="!scrolledCollage"></div>
                            <!-- ---- -->
                            <div class="column">
                                <img src="./assets/img/fotosViaje/menaNevado.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="menaNevado" (click)="modal('menaNevado')" style="width:100%">
                                <img src="./assets/img/fotosViaje/CarlosMotorhome La Choclona Dinant, Bélgica.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="rocks" (click)="modal('rocks')" style="width:100%">
                                <img src="./assets/img/fotosViaje/20160320_132744_Richtone(HDR).png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="falls2" (click)="modal('falls2')" style="width:100%">
                                <img src="./assets/img/fotosViaje/DSC_0115.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="DSC_0115" (click)="modal('DSC_0115')" style="width:100%">
                                <img src="./assets/img/fotosViaje/algunLugar.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="algunLugar" (click)="modal('algunLugar')" style="width:100%">
                                <img src="./assets/img/fotosViaje/IMG-20200602-WA0039.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="IMG-20200602-WA0039" (click)="modal('IMG-20200602-WA0039')" style="width:100%">
                            </div>
                            <div class="column">
                                <img src="./assets/img/fotosViaje/underwater.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="underwater" (click)="modal('underwater')" style="width:100%">
                                <img src="./assets/img/fotosViaje/f3220945-b9cf-4871-aa2d-d0b1ea95e280.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="f3220945" (click)="modal('f3220945')" style="width:100%">
                                <img src="./assets/img/fotosViaje/IMG-20170507-WA0000.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="IMG-20170507-WA0000" (click)="modal('IMG-20170507-WA0000')" style="width:100%">
                                <img src="./assets/img/fotosViaje/mountainskies.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="mountainskies" (click)="modal('mountainskies')" style="width:100%">
                                <img src="./assets/img/fotosViaje/aveit.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="aveit" (click)="modal('aveit')" style="width:100%">
                                <img src="./assets/img/fotosViaje/Paris.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="Paris" (click)="modal('Paris')" style="width:100%">
                            </div>  
                            <div class="column">
                                <img src="./assets/img/fotosViaje/FB_IMG_1512551584546.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="FB_IMG_1512551584546" (click)="modal('FB_IMG_1512551584546')" style="width:100%">
                                <img src="./assets/img/fotosViaje/20201105_011715.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="20201105_011715" (click)="modal('20201105_011715')" style="width:100%">
                                <img src="./assets/img/fotosViaje/falls2.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="falls3" (click)="modal('falls3')" style="width:100%">
                                <img src="./assets/img/fotosViaje/colazo2.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="colazo2" (click)="modal('colazo2')" style="width:100%">
                                <img src="./assets/img/fotosViaje/20200529_130805.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="20200529_130805" (click)="modal('20200529_130805')" style="width:100%">
                                <img src="./assets/img/fotosViaje/16464359_242786852840102_6159702217428303872_n.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="16464359" (click)="modal('16464359')" style="width:100%">
                            </div>
                            <div class="column">
                                <img src="./assets/img/fotosViaje/IMG_2538.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="IMG_2538" (click)="modal('IMG_2538')" style="width:100%">
                                <img src="./assets/img/fotosViaje/Rodrigo6.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="Rodrigo6" (click)="modal('Rodrigo6')" style="width:100%">
                                <img src="./assets/img/fotosViaje/inaqui2.png" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="inaqui2" (click)="modal('inaqui2')" style="width:100%">
                                <img src="./assets/img/fotosViaje/IMG_2832.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="IMG_2832" (click)="modal('IMG_2832')" style="width:100%">
                                <img src="./assets/img/fotosViaje/FrancoOrzan10.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="FrancoOrzan10" (click)="modal('FrancoOrzan10')" style="width:100%">
                                <img src="./assets/img/fotosViaje/IMG-20200402-WA0009.jpg" [className]="scrolledCollage ? 'animacionCol cursor' : ''" [hidden]="!scrolledCollage" id="20200402" (click)="modal('20200402')" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section section-dark text-center" id="hist1">
            <div class="container">
                <h2 [className]="scrolledHist1 ? 'title titulo' : 'title'" [hidden]="!scrolledHist1">Lleno de experiencias únicas</h2>
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto" style="height: 1000px;" [hidden]="scrolledHist1"></div>
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="row"> 
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <img src="./assets/img/fotosViaje/menaLago.png" [className]="scrolledHist1 ? 'entIzq cursor rounded' : 'cursor rounded'" [hidden]="!scrolledHist1" style="width:100%" id="menaLago" (click)="modal('menaLago')">
                            </div>
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <i><h5 [className]="scrolledHist1 ? 'entDer description' : 'description'" [hidden]="!scrolledHist1" style="width: 100%;">
                                    " Camino a la capital de Croacia, encontramos un islote en el que nos quedamos 4 días. 
                                    Una playa hermosa, tranquila y sin gente. Era para nosotros solos. "
                                </h5></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center" id="hist2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto" style="height: 1000px;" [hidden]="scrolledHist2"></div>
                    <div class="col-md-12 ml-auto mr-auto">
                        <div *ngIf="!esTel" class="row"> 
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <i><h5 [className]="scrolledHist2 ? 'entIzq description' : 'description'" [hidden]="!scrolledHist2" style="width: 100%;">
                                    " Ese día tuvimos un desafío, llegamos al lago y no podíamos decirle que no a lo que se venía. 
                                    Una paisaje increíble del lago Morskie Oko en Polonia vs. una lluvia y neblina que nos podía jugar todas en contra... Y lo hicimos igual! Así fue la recompensa. "
                                </h5></i>
                            </div>
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <img src="./assets/img/fotosViaje/FrancoOrzan12.jpg" [className]="scrolledHist2 ? 'entDer cursor rounded' : 'cursor rounded'" [hidden]="!scrolledHist2" style="width:100%" id="FrancoOrzan12" (click)="modal('FrancoOrzan12')">
                            </div>
                        </div>
                        <div *ngIf="esTel" class="row"> 
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <img src="./assets/img/fotosViaje/FrancoOrzan12.jpg" [className]="scrolledHist2 ? 'entDer cursor rounded' : 'cursor rounded'" [hidden]="!scrolledHist2" style="width:100%" id="FrancoOrzan12" (click)="modal('FrancoOrzan12')">
                            </div>
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <i><h5 [className]="scrolledHist2 ? 'entIzq description' : 'description'" [hidden]="!scrolledHist2" style="width: 100%;">
                                    " Ese día tuvimos un desafío, llegamos al lago y no podíamos decirle que no a lo que se venía. 
                                    Una paisaje increíble del lago Morskie Oko en Polonia vs. una lluvia y neblina que nos podía jugar todas en contra... Y lo hicimos igual! Así fue la recompensa. "
                                </h5></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-dark text-center" id="hist3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto" style="height: 1000px;" [hidden]="scrolledHist3"></div>
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="row"> 
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <img src="./assets/img/fotosViaje/carlitosEgipto.jpg" [className]="scrolledHist3 ? 'entIzq cursor rounded' : 'cursor rounded'" [hidden]="!scrolledHist3" style="width:100%" id="carlitosEgipto" (click)="modal('carlitosEgipto')">
                            </div>
                            <div class="col-md-6 ml-auto mr-auto" style="margin-bottom:20px;">
                                <i><h5 [className]="scrolledHist3 ? 'entDer description' : 'description'" [hidden]="!scrolledHist3" style="width: 100%;">
                                    " Después de un safari en el cálido desierto nos quedamos esperando el atardecer para terminar aquel día apreciando 
                                    un increible paisaje. "
                                </h5></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="parallax" style="background-image: url('./assets/img/ignaMena1-min.jpg');"></div> -->

        <div class="section text-center parallax" id="fondoViajeAnios" style="z-index:10; height:auto; background-image: url('./assets/img/fotosViaje/funes.png');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <!-- <h2 class="title">El viaje en años</h2> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="transform: none">
                                    <div class="card-body">
                                        <h2 class="title">El viaje en años</h2>
                                        <p class="h4 description">
                                            Tuvieron que pasar cuatro años desde la creación de AVEIT para que el sueño de todos los fundadores se 
                                            hiciera realidad: realizar un viaje de estudio al finalizar el proceso académico.
                                        </p>
                                        <br>
                                        <div id="content">
                                            <ul class="timeline">
                                                <li class="event" data-date="1969">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h3>Grupo viajero Nº 1</h3>
                                                            <p>A pesar de no haber sido documentado, sentó el
                                                                precedente para continuar con una línea de acción circunscrita en el esfuerzo por consolidar una
                                                                asociación que pudiera abrirle camino a los grupos siguientes.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="event" data-date="1970">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h3>Grupo viajero Nº 2</h3>
                                                            <p>El primero en viajar en nombre de la asociación. Estuvo compuesto por once
                                                                ingenieros y un profesor, quienes recorrieron un itinerario cuidadosamente planificado y organizado.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="event" data-date="1989">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h3>Grupo viajero Nº 21</h3>
                                                            <p>Fue el más numeroso hasta el año 2015: 30 estudiantes y un profesor. Además,
                                                                recorrieron Europa durante 7 meses, siendo de los grupos que más tiempo permanecieron en viaje.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="event" data-date="2002">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h3>Grupo viajero Nº 34</h3>
                                                            <p>Tuvieron que renunciar a algunas becas, convenios y visitas técnicas debido a las secuelas del “corralito”. 
                                                                Aún así, viajaron por Europa más de 3 meses.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="event" data-date="2015">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h3>Grupo viajero Nº 47</h3>
                                                            <p>Superó ampliamente ese número, ya que 50 socios cumplieron su sueño ese año.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="event" data-date="2020">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h3>Grupo viajero Nº 52</h3>
                                                            <p>Será siempre recordado por haber sido el grupo que recorrió Europa en tiempos de
                                                                pandemia. A pesar de las complicaciones generadas por el Covid-19, muchos de los integrantes
                                                                pudieron completar parte del itinerario.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close" (click)="cerrarModal()">&times;</span>
            <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
            <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModal()"></div>
            <img class="modal-content" id="img01" style="z-index: 102;">
            <div id="caption"></div>
        </div>

        <!-- <div class="parallax" style="background-image: url('./assets/img/fotosViaje/funes.jpg');"></div> -->
        <div class="section section-dark text-center parallax" id="frase" style="background-image: url('./assets/img/ignaMena1-min.png'); min-height:100vh; padding: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto" style="margin-bottom:20px;">
                        <div [className]="scrolledFrase ? 'titulo card' : 'card'" [hidden]="!scrolledFrase" style="background: rgba(0,0,0,0.5); margin-top: 45vh;">
                            <div class="card-body">
                                <i class="h3 text-white" style="margin:0;">" Si algo bueno te pasa, viaja para celebrar. Si algo malo te pasa, viaja para olvidar. Si nada te pasa, viaja para que algo pase. "</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="esTel" style="width:100%; height:1px; background-color: #191919"></div>
        <div class="section section-dark" id="contacto">
            <div class="container">
              <h2 class="title text-center">Contacto</h2>
              <div class="row">
                <div class="col-md-3 aveit-contacto">
                  <a href="https://aveit.frc.utn.edu.ar">
                    <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive" alt="AVEIT">
                  </a>
                  <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
                  <br>
                  <br>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-4">
                  <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M. Lopez esq. Av. Cruz Roja Argentina, Córdoba, Argentina.</h5>
                  <br>
                  <a href="tel:+5943512900187"><h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351 290-0187</h5></a>
                  <br>
                  <a href="mailto:aveitutn@gmail.com"><h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; aveitutn@gmail.com</h5></a>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-3">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                </div>
              </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</body>