#videoViaje {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.titulo {
    -webkit-animation-name: entradaTitulo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: entradaTitulo;
    animation-duration: 3s;
}

.entDer {
    -webkit-animation-name: entradaDer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: entradaDer;
    animation-duration: 2s;
}

.entIzq {
    -webkit-animation-name: entradaIzq; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: entradaIzq;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaTitulo {
    0%   {opacity:0;filter:alpha(opacity=00);}
    100% {opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaTitulo {
    0%   {opacity:0;filter:alpha(opacity=00);}
    100% {opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaColage {
    0%   {margin-top:-50px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:8px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaColage {
    0%   {margin-top:-50px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:8px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaIzq {
    0%   {margin-left:-80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaIzq {
    0%   {margin-left:-80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaDer {
    0%   {margin-left:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaDer {
    0%   {margin-left:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.animacionCol { // Animacion de entrada del collage de fotos
    -webkit-animation-name: entradaColage; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: entradaColage;
    animation-duration: 2s;
}

.cursor {
    cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    // top: 15px;
    top: 110px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.timeline {
    border-left: 3px solid #51bcda;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 50%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #359ebb;
    box-shadow: 0 0 0 3px #359ebb;
    left: -55.8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}