<body class="profile-page sidebar-collapse">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/que-es-aveit/fedePassera3.jpg');">
      <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h1 class="title">Qué es AVEIT
                    <br />
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ml-auto mr-auto text-center">
                <h5>Somos una asociación civil sin fines de lucro formada por estudiantes de la Universidad Tecnológica
                  Nacional Facultad Regional Córdoba. Nuestro objetivo es lograr una formación integral de los socios a
                  partir de su desarrollo personal y profesional. Para ello, conformamos un espacio de participación propicio
                  para desempeñarse en actividades que enriquezcan el proceso de formación académica. Además,
                  fomentamos relaciones sociales y humanas que acompañen todo este proceso.
                <br>
                Desde hace más de 50 años, miles de estudiantes han sido parte de esta aventura que concluye con un
                viaje técnico cultural por más de 20 países de Europa, en el cual se realizan visitas técnicas a importantes
                empresas y organismos de reconocimiento mundial.
                </h5>
                <br />
                </div>
            </div>
            <br/>
        </div>
    </div>  

    <!-- Eventos anuales -->
    <div class="section section-dark" #eventosanuales id="eventos">
      <div class="container">
          <h2 class="title text-center">Qué hacemos</h2>
          <h3 [className]="scrolledEventos ? 'title titulo' : 'title'" [hidden]="!scrolledEventos">Eventos anuales</h3>
          <h5 class="description" [className]="scrolledEventos ? 'entDer description' : 'description'" [hidden]="!scrolledEventos" style="width: 100%;">
              Como toda asociación sin fines de lucro, AVEIT organiza actividades con el objetivo de lograr un impacto
              en la sociedad. Todo lo recaudado se destina a organizaciones sociales y proyectos sustentables, con la
              intención de retribuir y agradecer a nuestros socios y a la sociedad en general por todo su aporte. </h5><br />        
          <div class="container-fluid" [className]="scrolledEventos ? 'entInf description' : 'description'" [hidden]="!scrolledEventos">
            <div class="row">
              <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center">
                  <div class="card" style="width: 20rem;background-color: #1F2A33 ;opacity:0.8; align-self: auto;">
                      <img src="./assets/img/que-es-aveit/cuna2.jpg" class="card-img-top" alt="Panel de debate Mujeres en Tecnología - Cuna de emprendedores 2019." (click)="modal('cuna2')" id="cuna2">
                      <div class="card-body">
                        <h4 class="card-title description">Cuna de emprendedores</h4>
                        <p class="card-text description">Una jornada abierta al público para conocer y aprender la última
                          tendencia en técnicas de trabajo, con exposiciones, workshops y paneles.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center">
                <div class="card" style="width: 20rem;background-color: #1F2A33;opacity:0.8;">
                    <img src="./assets/img/que-es-aveit/maraton1.jpg" class="card-img-top" alt="Maratón solidaria AVEIT 2019." (click)="modal('maraton1')" id="maraton1">
                    <div class="card-body">
                      <h4 class="card-title description">Maratón solidaria AVEIT</h4>
                      <p class="card-text description">Nuestra maratón es todo un clásico de primavera. Durante este día los
                        corredores buscan su mejor perfomance, aunque lo más importante para nosotros es destinar los
                        fondos recaudados a los que más lo necesitan.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center">
                <div class="card" style="width: 20rem;background-color: #1F2A33;opacity:0.8;">
                    <img src="./assets/img/que-es-aveit/refo3cut.jpeg" class="card-img-top" alt="Reforestación 2019 realizada en la Ciudad de Río Tercero." (click)="modal('refo3cut')" id="refo3cut">
                    <div class="card-body">
                      <h4 class="card-title description">Reforestación AVEIT</h4>
                      <p class="card-text description">El cuidado del medio ambiente también es importante para nosotros. Con el
                        programa de reforestación y reciclado, usamos el espacio de nuestra asociación para hacer de
                        este mundo un lugar más verde.</p>
                    </div>
                </div>
              </div> 
            </div>                 
          </div>
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <span class="close" (click)="cerrarModal()">&times;</span>
            <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
            <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModal()"></div>
            <img class="modal-content" id="img01" style="z-index: 102;">
            <div id="caption"></div>
           </div>
        </div>  
    </div>

    <!-- Crecimiento y capacitación -->
    <div class="section" #crecimiento id="crecimiento">
      <div class="container">
        <h3 [className]="scrolledCrecimiento ? 'title titulo' : 'title'" [hidden]="!scrolledCrecimiento">Crecimiento y capacitación</h3>
          <h5 class="body" [className]="scrolledCrecimiento ? 'entIzq body' : 'body'" [hidden]="!scrolledCrecimiento">
            Nuestro objetivo es lograr una formación integral de los socios a partir de su desarrollo personal y
            profesional. Por esta razón, permanentemente nos encontramos en la búsqueda de propuestas de
            aprendizaje valiosas para los estudiantes.</h5><br />
          <div class="container" [className]="scrolledCrecimiento ? 'entInf cursor' : 'cursor'" [hidden]="!scrolledCrecimiento">  
            <div class="row" >
              <div class="col-md-6">
                <div class="row cards" style="width: auto; margin: auto auto;flex-direction: column;">
                  <div class="card" data-color="green" style="width: 20rem;align-self: center;">
                    <img class="card-img-top" src="./assets/img/que-es-aveit/visitaTecnica1.jpg" alt="Visita técnica realizada a FIAT." (click)="modal('visitaTecnica1')" id="visitaTecnica1">
                    <div class="card-body">
                      <h4 class="card-title" style="font-weight: bolder;">Visitas técnicas</h4>
                      <p class="card-text" style="font-weight: bolder;">A lo largo de todo el año, ofrecemos conocer empresas y organizaciones puertas
                        adentro para ver de cerca distintas dinámicas de trabajo del mundo real.</p>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="col-md-6">
                <div class="row cards" style="width: auto; margin: auto auto;flex-direction: column;">
                  <div class="card" data-color="blue" style="width: 20rem;align-self: center;" >
                    <img class="card-img-top" src="./assets/img/que-es-aveit/curso1.jpeg" alt="Curso de Adobe Illustrator dictado en la sede de AVEIT." (click)="modal('curso1')" id="curso1">
                    <div class="card-body">
                      <h4 class="card-title" style="font-weight: bolder;">Charlas informativas y cursos</h4>
                      <p class="card-text"style="font-weight: bolder;">Abrimos las puertas de nuestra sede para darles lugar a quienes
                        están más capacitados en proyectos y técnicas de crecimiento e inserción laboral. De esta forma,
                        traemos el conocimiento a nuestra asociación para el beneficio de nuestros socios y del público
                        en general.</p>
                    </div>
                  </div>
                </div> 
              </div>  
            </div>
          </div>  
      </div>
    </div>  

    
    <div class="section section-dark" id="solidarias">
      <div class="container">
        <h3 [className]="scrolledSolidarias ? 'title titulo' : 'title'" [hidden]="!scrolledSolidarias">Actividades solidarias</h3>
        <h5 class="description" [className]="scrolledSolidarias ? 'entIzq description' : 'description'" [hidden]="!scrolledSolidarias">
          Nuestra asociación se encuentra muy cerca de los problemas cotidianos de la sociedad. Ante esta
          situación, decidimos no quedarnos de brazos cruzados y nos movilizamos para realizar acciones concretas
          que ayuden a resolver aquellos problemas.</h5><br />
      </div>
      <div class="container" [className]="scrolledSolidarias ? 'title titulo' : 'title'" [hidden]="!scrolledSolidarias">
          <div class="col-sm-12 col-md-6 mr-auto ml-auto" style="margin-left: auto; margin-right: auto;">
            <div class="card card-raised page-carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="./assets/img/que-es-aveit/donacion1.jpeg" class="d-block img-fluid" alt="Donación realizada por AVEIT al Comedor Panza Llena en 2020." (click)="modal('donacion1')" id="donacion1">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/que-es-aveit/gsa1.jpg" class="d-block img-fluid" alt="Plantines para la reforestación en Alta Gracia 2018." (click)="modal('gsa1')" id="gsa1">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/que-es-aveit/gsa2.jpg" class="d-block img-fluid" alt="Colaboración con Ingenieria sin fronteras." (click)="modal('gsa2')" id="gsa2">
                    </div>
                    <div class="carousel-item">
                      <img src="./assets/img/que-es-aveit/gsa3.jpg" class="d-block img-fluid" alt="Reconocimiento a AVEIT de la ciudad de Alta Gracia por el trabajo de reforestación." (click)="modal('gsa3')" id="gsa3">
                    </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>  
      </div>  
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
      <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModal()"></div>
      <img class="modal-content" id="img01" style="z-index: 102;">
      <div id="caption"></div>
    </div>

    <!-- Nuestros socios -->
    <div class="section" #socios id="socios">
      <div class="container">
          <h2 class="title text-center">Nuestros socios</h2>
          <h5 class="col-md-9 ml-auto mr-auto text-center">
            AVEIT comienza y termina en sus socios. El motor de esta asociación es un grupo de personas
            comprometidas y determinadas. Por eso, fomentamos un espacio propicio para el desarrollo personal y
            humano de todos aquellos que decidan formar parte de nuestra asociación. AVEIT es el complemento ideal
            para todo estudiante de la Universidad Tecnológica Nacional de Córdoba.<br/>
            ¡Animate a ser parte de esta experiencia única! </h5><br />
      </div> 
      <div class="container" [className]="scrolledSocios ? 'entInf cursor' : 'cursor'" [hidden]="!scrolledSocios">
        <div class="row">
          <div class="col-sm-4 col-md-4 mr-auto ml-auto">
            <img src="./assets/img/que-es-aveit/socios1.jpg" class="rounded mx-auto d-block " style="width:350px ;" alt="Olimpiadas de metegol y ping-pong 2019." (click)="modal('socios1')" id="socios1">
          </div>
          <div class="col-sm-4 col-md-4 mr-auto ml-auto" >
            <img src="./assets/img/que-es-aveit/francoOrzan10.jpeg" class="rounded mx-auto d-block" style="width:350px ;" alt="Parte del grupo viajero 50 de trekking en Augstmatthorn - Suiza." (click)="modal('francoOrzan10')" id="francoOrzan10">
          </div>
          <div class="col-sm-4 col-md-4 mr-auto ml-auto">
            <img src="./assets/img/que-es-aveit/maraton2.JPG" class="rounded mx-auto d-block" style="width:350px ;" alt="Maratón solidaria AVEIT 2019." (click)="modal('maraton2')" id="maraton2">
          </div>                
        </div> 
      </div>    
    </div>      

    <!-- Preguntas frecuentes -->
    <div class="section" id="faqs">
      <div class="container">
        <h2><small class="text-muted" >Preguntas frecuentes</small></h2>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card no-transition">
              <div class="card-header card-collapse" role="tab" id="headingOne">
                  <h5 class="mb-0 panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿AVEIT es un centro de estudiantes/ organización política?
                          <i class="nc-icon nc-minimal-down"></i>
                      </a>
                  </h5>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body">
                      No, somos una asociación sin fines de lucro y carecemos de orientación política, nuestra misión, visión y valores lo confirman, al igual que las actividades que realizamos anualmente.<br>
                      AVEIT se conforma con la finalidad es posibilitar a todos sus asociados la realización de un viaje de estudios al exterior.
                      Todos los socios somos estudiantes de las distintas especialidades de ingeniería que brinda la Universidad Tecnológica Nacional, perteneciente a la Facultad Regional Córdoba, la cual nos ha dado un apoyo constante y perseverante a lo largo de todos estos años.<br>
                      Así, muchas cosas que se hacen dentro de la Asociación logran potenciar a los futuros profesionales que va formando la facultad, dándole contacto con ingenieros y futuros ingenieros que participan en ella, y con organismos y personas que complementan el día a día de las actividades de AVEIT.
                  </div>
              </div>
              <div class="card-header card-collapse" role="tab" id="headingThree">
                  <h5 class="mb-0 panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Quiero ser socio ¿Qué tengo que hacer para sumarme?
                          <i class="nc-icon nc-minimal-down"></i>
                      </a>
                  </h5>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-body">
                    Una vez por año se realiza la tan esperada “Campaña de Socios”, en donde todos los que ya pertenecemos a esta asociación dedicamos una semana entera a darnos a conocer. Allí, si no pasamos por tu curso y querés más info, podés acercarte a cualquier socio/stand para saber de qué se trata. <br>
                    Si compartís el sueño que motiva a todo AVEIT, y querés formar parte, se te tomarán tus datos personales como preinscripción. Tu inscripción se hará efectiva una vez que retires las rifas por primera vez, pero ojo! Solemos tener cupos de ingresantes por año. 
                    Por eso es muy importante que dejes bien asentados tus datos personales durante Campaña, y que estés atento al mail para saber cuándo realmente podrás hacer efectivo tu carácter de socio aveitense.
                  </div>
              </div>
          </div>
        </div>  
      </div>  
    </div>
    <div class="section section-dark" id="contacto">
      <div class="container">
        <h2 class="title text-center">Contacto</h2>
        <div class="row">
          <div class="col-md-3 aveit-contacto">
            <a href="https://aveit.frc.utn.edu.ar">
              <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive" alt="AVEIT">
            </a>
            <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
            <br>
            <br>
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-4">
            <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M. Lopez esq. Av. Cruz Roja Argentina, Córdoba, Argentina.</h5>
            <br>
            <a href="tel:+5943512900187"><h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351 290-0187</h5></a>
            <br>
            <a href="mailto:aveitutn@gmail.com"><h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; aveitutn@gmail.com</h5></a>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <app-footer></app-footer>
    <!--  -->
</body>
