// .clase-calendario span {
//     color: #ff3d7f !important;
// }
h3 {
  margin: 0 0 10px;
}
  
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-month-view .cal-open-day-events {
  color: #222222;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(100, 100, 100, 0.1);
          box-shadow: inset 0 0 15px 0 rgba(100, 100, 100, 0.1);

}