


@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald';
	letter-spacing: 1.5px;		
}
body {
	font-family: 'Oswald', sans-serif;
	margin: 0;
}
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
  format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------Estilos de Header--------------------------------*/
.header{

	height: 60px;
}
.contenedor {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}
.logo {
	margin: 5px;
	color: #ffffff;
}
.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #165126;
	color: #ffffff;
	text-align: center;
	border-radius: 5px; 
	margin: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*---------------------------------Estilos de Menu---------------------------------*/
.nav {
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;

}
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu_link {
	display: block;
	padding: 15px;
	background: #165126;
	color: #ffffff;
	text-decoration: none;
}
.menu_link:hover {
	background: #ffffff;
	color: #165126;
}
.mostrar {
	left: 0;
}

.select {
	background: #ffffff;
	color: #165126;
}
/*---------------------------------Estilos de Banner---------------------------------*/
.banner {
	margin-top: -60px;
	z-index: -1000;
	position: relative;
}



/*---------------------------------Estilos de Info---------------------------------*/
.info_columna {
	margin: 3% 0%;
	background: #30a836;
	color: #ffffff;
	padding: 1%;
	margin-bottom: 3%;
	width: 100%;
text-align: center;
	
}
.info {
	display: block;
	margin-top: 0px;
	justify-content: space-between;
}
.info_parrafo{
	margin: 5% 3% 5% 3%;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
.info_titulo {
	text-align: center;
	margin: 3% 0 0 0;
	font-size: 20px;
}

/*---------------------------------Estilos de Eventos Anteriores---------------------------------*/
.eventos_tit{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 25% 0% 0% 0%;
}

.eventos_columna {
	background: #30a836;
	padding: 1% 0%;
   text-align: center;
    margin: 5% 3%;
    border-radius: 15px;
        box-shadow: 0px 3px 5px #000;
   /* border: 3.5px solid #000;*/
    
}
a.fotos:link 
{  text-decoration: none;
	
}

.eventos {
	width: 100%;
	position: relative;
	float: left;
	display: flex;
	margin-top: 0px;
	justify-content:center;
}


.eventos_titulo {
    font-size:18px;
	text-align: center;
	margin: 3% 0 0 0;
}
/*------------------------------------meta slider-----------------------------------*/
.flexslider{
	width: 98%;
	 background:#37A936;
	margin: 20px auto;
border-radius: 20px;
border: 10px solid #000;
	
}

.slides {
	width: 100%;
	border-radius: 5px;
}
 
.slides img {
	width:100%;
	height: 100%;
	border-radius: 5px;
}

.slides video {
    background-size: cover;
    bottom: 0;
    height: auto;
    width: auto;
    position: fixed;
    right: 0;
    z-index: -100;
}
.slidesjs-pagination{
	margin: 0px;
	font-size: 10px;
	width: 100%;
	background: #37A936;
	list-style: none;
	overflow:hidden;
	border-radius: 0px 0px 0px 5px;
}
 
.slidesjs-pagination li{
	float:left;

}
.slidesjs-pagination li a{
	display:block;
	padding:10px 20px;
	color: #fff;
	text-decoration:none;


	}
.slidesjs-pagination li a:hover{
background: #185126;

}
.slides .active  {
		background: #185126;
	}

a.slidesjs-stop .slidesjs-navigation .icon-pause {
	background: #000;
}	


.slidesjs-navigation{
	background: #185126;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 11px 20px;
	float: right;
	width: 33.333333%;
}
.slidesjs{
	width: 100%;
}
.slidesjs-control{
	width: 100%;
}



/*------------------------------------meta slider de publicidad-----------------------------------*/
.flexslider1{
	width: 100%;
	
	margin: 20px auto;
	/*border-radius: 20px;
	border: 3.5px solid #000;
	*/
}

.slides1 {
	width: 100%;
	height:10%;
	/*order-radius: 19px;*/
}
 
.slides1 img {
	width:100%;
	vertical-align: middle;
	position:absolute;
	
}


.slides1js-pagination{
	position: absolute;
	background: none;
	list-style: none;
	overflow:hidden;
	z-index: -1000;	
}
 
.slides1js-pagination li{
	position: absolute;
	z-index: -1000000;
	left: 10000000;

}

.slides1js{
	width: 10%;
}

.flexslider2{
	width: 100%;
	margin-bottom: -80px;
	/*border-radius: 20px;
	border: 3.5px solid #000;
	*/
	margin: 20px 0px;
}

.slides2 {

	width: 100%;
	height:120px;
	position: relative;
	/*order-radius: 19px;*/
}
 
.slides2 img {
	width:100%;
	margin: 10px 0px;
	height: 100px;
	vertical-align: middle;
	position:absolute;
	
}


.slides2js-pagination{
	position: absolute;
	background: none;
	list-style: none;
	overflow:hidden;
	z-index: -1000;	
}
 
.slides2js-pagination li{
	position: absolute;
	z-index: -1000000;
	left: 10000000;

}

.slides2js{
	width: 10%;
}
/*--------------------------------Estilos de Pilares--------------------------------*/
.pilares_titulo {
	text-align: center;
	color: #ffffff;
	font-size: 30px;
    
}
.pilares_img {
	width: 100%;
}

.pilares {
	width: 100%;
	background: #165126;
overflow: hidden;
margin:25px 0px;

}
.pilares h1{
	margin: 30px;

} 

.contenedor1 {
	position: relative;
	margin: 20px auto;
   	height: 290px;
 	 width: 290px;
  }

.contenedor1 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor1 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
  
}

.contenedor1 img.top:hover {
  opacity: 0;
  
  
}
.contenedor1:hover {
	transform: scale(1.5);
	transition: all 0.1s;
	position: relative;
	left: 0px;
	top: -10px;
	z-index: 9999;
}
.contenedor2 {
  position: relative;
  height: 290px;
  width: 290px;
  margin: 20px auto;
}

.contenedor2 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor2 img {
  position: absolute;
  left: 0;
  transition: opacity 0s;
}

.contenedor2 img.top:hover {
  opacity: 0;
  
  
}
.contenedor2:hover {
	transform: scale(1.5);
	transition: all 0.1s;
	position: relative;
	left: 0px;
	top: -10px;
	z-index: 9999;
}
.contenedor3 {
  position: relative;
  height: 290px;
  width: 290px;
  margin:15px auto;
}

.contenedor3 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor3 img {
  position: absolute;
  left: 0;
 transition: opacity 0s;
}

.contenedor3 img.top:hover {
  opacity: 0;
  
  
}
.contenedor3:hover {
	transform: scale(1.5);
	transition: all 0.1s;
	position: relative;
	left: 0px;
	top: -15px;
	z-index: 9999;
}
.contenedor4 {
  position: relative;
  height: 290px;
  width: 290px;
  margin: 20px auto;
 }

.contenedor4 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor4 img {
  position: absolute;
  left: 0;
  transition: opacity 0s;
}

.contenedor4 img.top:hover {
  opacity: 0;
  
  
}
.contenedor4:hover {
	transform: scale(1.5);
	transition: all 0.1s;
	position: relative;
	left: 0px;
	top:-25px;	
	z-index: 9999;
}


/*--------------------------------Estilos de disertantes--------------------------------*/
.disertantes_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: -2% 0% -1% 0%;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
    
}


  	hr { border: 0; height: 5px; margin-top: 0px;background-image: linear-gradient(left, #fff, red, #fff); text-align: center;}
hr:after {content:""; position: relative; display: inline-block; width: 90%; height: 24px; border: 8px solid #30a836; border-radius: 300px/10px; height: 0px; text-align: center; }

.disertantes_img, .disertantes1_img {
	margin: 10px 10px;
	position: relative;	
	float: left;

}
 
.disertantes {
	width: 100%;
	background: none;
	overflow: hidden;

}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE para disertantes---------------------------------------*/

.disertantes h4  {	
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	width: 80px;
	position: absolute;
	color: #165126;
	top: -5%;
	left: 63%;
	padding: 0px 0px;
	background: none;
	z-index: 99;
	transition: all 300ms;
	transform: translate(-50%, -50%) scale(1);

}
.cont1:before, .cont2:before, .cont3:before, .cont4:before, .cont5:before, .cont6:before{
	content: '';
	width: 330px*0.8;
	height: 330px*0.8;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.3;
	transform: translate(-50%, -50%) scale(0);
}
.cont1:hover:before, .cont2:hover:before, .cont3:hover:before, .cont4:hover:before, .cont5:hover:before, .cont6:hover:before{
	transform: translate(0%, 0%) scale(1);
}
.cont1:hover h4, .cont2:hover h4, .cont3:hover h4, .cont4:hover h4, .cont5:hover h4, .cont6:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}

/*------------------------------------------------------------POP-UP para disertantes----------------------------------------------------------*/

#popup1, #popup2, #popup3, #popup4, #popup5, #popup6 {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1:target, #popup2:target, #popup3:target, #popup4:target, #popup5:target, #popup6:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
   position: relative;
   margin:7% auto;
   padding:20px 20px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:100%;
}
.popup-contenedor1, .popup-contenedor2, .popup-contenedor3, .popup-contenedor4, .popup-contenedor5, .popup-contenedor6{
   position: relative;
   float: right;
   width:100%;
}
.popup-contenedor11, .popup-contenedor21, .popup-contenedor31, .popup-contenedor41, .popup-contenedor51, .popup-contenedor61 {
   position: relative;
   width: 70%;
   margin: auto;
}
 .popup-contenedor1 h3, .popup-contenedor2 h3, .popup-contenedor3 h3, .popup-contenedor4 h3, .popup-contenedor5 h3, .popup-contenedor6 h3  {
 	
   position: relative;
   float: left;

   }
.popup-contenedor1 p, .popup-contenedor2 p, .popup-contenedor3 p, .popup-contenedor4 p, .popup-contenedor5 p, .popup-contenedor6 p {
	
   position: relative;
   float: right;
   }

.popup-contenedor1 img, .popup-contenedor2 img, .popup-contenedor3 img, .popup-contenedor4 img, .popup-contenedor5 img, .popup-contenedor6 img {
	position: relative;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
.disertantes h1{
	margin: 10px 0px;
} 

.cont1 {
	position: relative;
	float: left;
	margin: 20px 10px;
	height: 250px;
 	 width: 40%;
 	 left: 2.5%;
  }

.cont1 .i{
	width: 100%;
	cursor: pointer;
}

.cont1 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
  
}
.cont2 {
	
	position: relative;
	float: left;
	margin: 20px 10px;
	height: 250px;
 	 width: 40%;

}

.cont2 .i{
	width: 100%;
	cursor: pointer;
}

.cont2 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
  
}


.cont3 {
	position: relative;
	float: left;
	margin: 20px 10px;
	height: 250px;
 	 width: 40%;
 	 left: 25%;
}

.cont3 .i{
	width: 100%;
	cursor: pointer;
}

.cont3 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
  
}


.cont4 {
	position: relative;
	float: left;
	margin: 20px 10px;
	height: 250px;
 	 width: 40%;
 	 left: 2.5%;
  }

.cont4 .i{
	width: 100%;
	cursor: pointer;
}

.cont4 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
  
}
.cont5 {
	position: relative;
	float: left;
	margin: 20px 10px;
	height: 250px;
 	 width: 40%;
}
.cont5 .i{
	width: 100%;
	cursor: pointer;
}

.cont5 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
  
}

.disertantes h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	left: 5%;
	margin-bottom: 1%;
	font-size: 30px;
}


/*---------------------------------------PANEL DE DEBATE DE EMPRENDEDORES----------------------------------------*/
.debate_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 1% 0%;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
    
}


.debate_img, .debate1_img {
	margin: 10px 10px;
	position: relative;	
	float: left;

}
.debate {
	width: 100%;
	background: none;
	overflow: hidden;

}
.debate h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 30px;
	left: 5%;
}
.deb1 {
	position: relative;
	float: left;
	margin: 30px 10px;
	height: 40%;
 	 width: 40%;
 	 left: 5%;
  }

.deb1 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb1 .i{
	width: 100%;
	cursor: pointer;
}
.deb2 {
	position: relative;
	float: left;
	margin: 30px 20px;
	height: 40%;
 	 width: 40%;
 	 left: 2.5%;
}

.deb2 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb2 .i{
	width: 100%;
	cursor: pointer;
}


.deb3 {
	position: relative;
	float: left;
	margin: 35px 20px;
	height: 40%;
 	 width: 40%;
 	 left: 25%;
}

.deb3 img {
		position: relative;
		  left: 5%;
		  transition: opacity 0s;
		  transition: opacity 0s;
  
}
.deb3 .i{
	width: 100%;
	cursor: pointer;
}


.deb4 {
	position: relative;
	float: left;
	margin: 35px 10px;
	height: 40%;
 	 width: 40%;
 	 left: 4%;
  }

.deb4 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
}
.deb4 .i{
	width: 100%;
	cursor: pointer;
}
.deb5 {
	position: relative;
	float: left;
	margin: 35px 10px;
	height: 40%;
 	 width: 40%;
 	 left: 2.5%;
}

.deb5 img {
	position: relative;
  left: 5%;
  transition: opacity 0s;
  
  
}
.deb5 .i{
	width: 100%;
	cursor: pointer;
}


/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.debate h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 999;
	transform: translate(-50%, -50%) scale(0);
}
/*---------------------------------para cortar las somras de las imaenes---------------------------------*/
.de1, .de2, .de3, .de4, .de5{
	width:  100%;
	overflow: hidden;
	position: relative;	
}
.de1:hover, .de2:hover, .de3:hover, .de4:hover, .de5:hover{
	box-shadow: 0px 0px 50px -15px black;	
}
/*-------------------------------------------------------------------------------------*/
.de1:before, .de2:before, .de3:before, .de4:before, .de5:before, .de1:after, .de2:after, .de3:after, .de4:after, .de5:after{
	content:' ';
	width: 500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.de1:before, .de2:before, .de3:before, .de4:before, .de5:before{
	transform: rotate(45deg) translateY(-450px) translateX(20px);
}

.de1:after, .de2:after, .de3:after, .de4:after, .de5:after{
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.de1:hover:before, .de2:hover:before, .de3:hover:before  , .de4:hover:before, .de5:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-160px) translateX(-90px);

}
.de1:hover:after, .de2:hover:after, .de3:hover:after  , .de4:hover:after, .de5:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(265px) translateX(-95px);
	position: absolute;
	left: 5%;

}
.de1:hover h4, .de2:hover h4, .de3:hover h4,.de4:hover h4, .de5:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1a, #popup2a, #popup3a, #popup4a, #popup5a {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1a:target, #popup2a:target, #popup3a:target, #popup4a:target, #popup5a:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup1a, .popup2a, .popup3a, .popup4a, .popup5a{
   position: relative;
   margin:7% auto;
   padding:20px 20px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:100%;
}
.popup-contenedor1a, .popup-contenedor2a, .popup-contenedor3a, .popup-contenedor4a, .popup-contenedor5a{
   position: relative;
   float: right;
   width:100%;
}
.popup-contenedor11a, .popup-contenedor21a, .popup-contenedor31a, .popup-contenedor41a, .popup-contenedor51a{
   position: relative;
   width:70%;
   margin: auto;
}
 .popup-contenedor1a h3, .popup-contenedor2a h3, .popup-contenedor3a h3, .popup-contenedor4a h3, .popup-contenedor5a h3{
 	
   position: relative;
   float: left;

   }
.popup-contenedor1a p, .popup-contenedor2a p, .popup-contenedor3a p, .popup-contenedor4a p, .popup-contenedor5a p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1a img, .popup-contenedor2a img, .popup-contenedor3a img, .popup-contenedor4a img, .popup-contenedor5a img {
	position: relative;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}




/*---------------------------------------entretenimiento, y otros----------------------------------------*/
.en{
	width: 50%;
	position: relative;
	float: left;
}
.en1{
	width: 70%;
	position: relative;
	float: left;
	left: 15%;
}
.entre_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 2%;
	margin: 2% 2% 2% 2%;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

.entre hr { border: 0; height: 4	px; margin-top: 0px;background-image: linear-gradient(left, #fff, red, #fff); text-align: center;}
hr:after {content:""; position: relative; display: inline-block; width: 80%; height: 54px; border: 2px solid #30a836; border-radius: 200px/10px; height: 0px; text-align: center; }


.entre_img {
	margin: 10px 10px;
	position: relative;	
	float: left;	
}

.entre {
	width: 100%;
	background: none;
	overflow: hidden;

}
.entre h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 0%;
}
.entree1 {
	position: relative;
	float: left;
	margin: 20px 5px;
	height: 250px;
 	 width: 70%;
 	 left: 0%;
  }

.entree1 img {
	position: relative;
  transition: opacity 0s;
  
}
.entree1 .i{
	width: 100%;
	cursor: pointer;
}
.entree2 {
	position: relative;
	float: left;
	margin: 20px 5px;
	height: 250px;
 	 width: 70%;
}

.entree2 img {
	position: relative;
  transition: opacity 0s;
  
}
.entree2 .i{
	width: 100%;
	cursor: pointer;
}


.entree3 {
	position: relative;
	float: left;
	margin: 20px 10px;
	height: 250px;
 	 width: 70%;
 	 left: 10%;
}

.entree3 img {
	position: relative;
  transition: opacity 0s;
  
}
.entree3 .i{
	width: 100%;
	cursor: pointer;
}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.entre h4 {
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	width: 80px;
	position: absolute;
	color: #165126;
	top: -5%;
	left: 68%;
	padding: 0px 0px;
	background: none;
	z-index: 999;
	transition: all 300ms;
	transform: translate(-50%, -50%) scale(1);
}
/*---------------------------------para cortar las somras de las imaenes---------------------------------*/
.de1a, .de2a, .de3a{
	width: 330px*0.8;
	height: 330px*0.8;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	overflow: hidden;
	position: relative;	
}
.de1a:hover, .de2a:hover, .de3a:hover{
	box-shadow: 0px 0px 50px -15px black;	
}
/*-------------------------------------------------------------------------------------*/
.de1a:before, .de2a:before, .de3a:before, .de1a:after, .de2a:after, .de3a:after{
	content:' ';
	width: 500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.de1a:before, .de2a:before, .de3a:before{
	transform: rotate(45deg) translateY(-450px) translateX(20px);
}

.de1a:after, .de2a:after, .de3a:after{
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.de1a:hover:before, .de2a:hover:before, .de3a:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-160px) translateX(-90px);

}
.de1a:hover:after, .de2a:hover:after, .de3a:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(265px) translateX(-95px);
	position: absolute;
	left: 5%;

}
.de1a:hover h4, .de2a:hover h4, .de3a:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1c, #popup2c, #popup3c{
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1c:target, #popup2c:target, #popup3c:target{
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1c, .popup2c, .popup3c, .popup4a, .popup5a{
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1c, .popup-contenedor2c, .popup-contenedor3c{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11c, .popup-contenedor21c, .popup-contenedor31c{
   position: relative;
   width:40%;
   margin: 0px;
}
 .popup-contenedor1c h3, .popup-contenedor2c h3, .popup-contenedor3c h3{
 	
   position: relative;
   float: left;

   }
.popup-contenedor1c p, .popup-contenedor2c p, .popup-contenedor3c p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1c img, .popup-contenedor2c img, .popup-contenedor3c img{
	position: relative;
	width: 40%;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}





/*---------------------------------------PANEL DE DEBATE DE INCUVADORAS----------------------------------------*/
.Panel_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}
.Panel_img {
	float: left;
	width: 120%;
	position: relative;
	left: -7.5%;
}
.Panel {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 30px 0px 35px 0px ;

}
.Panel h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 5%;
}
.panelimg {
	float: left;
	position: relative;
	width: 100%;
	left: 0%;
  }

.panelimg img {
	position: relative;  
  transition: opacity 0s;
  
}
.panelimg .i{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.Panel h4  {	
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	width: 80px;
	position: absolute;
	color: #165126;
	top: 95%;
	left: 50%;
	padding: 10px 0px;
	background: none;
	z-index: 99;
	transition: all 300ms;
	transform: translate(-50%, -50%) scale(1);

}

.p1{
	margin: 10px 0;
	width:  100%;
	height: 60%;
	padding: 10px 0;
	overflow: hidden;
	position: relative;	
}
.p1:hover{
	box-shadow: 0px 0px 30px -15px black;	
}

/*-------------------------------------------------------------------------------------*/
.p1:before, .p1:after{
	content:' ';
	width: 100%;
	height: 1500px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.p1:before{
	transform: rotate(45deg) translateY(-2450px) translateX(20px);
}

.p1:after{
	transform: rotate(45deg) translateY(-2550px) translateX(-60px);
}
.p1:hover:before{
	
	transform: rotate(135deg) translateY(-50px) translateX(-550px);

}
.p1:hover:after{
	
	transform: rotate(135deg) translateY(-140px) translateX(-50px);
	left: 5%;

}
.p1:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1b{
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1b:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1b{
   position: relative;
   margin:7% auto;
   background-color: #fff;
   color:#333;
   border-radius: 3px;
   width:100%;
}
.popup-contenedor1b{
   position: relative;
   float: right;
   text-align: center;
   width:100%;
}
.popup-contenedor11b{
   position: relative;
   margin: 0px 10px;
   padding: 0px;
}
.popup-contenedor11b img{
   position: relative;
   width:110%;
   height: 250px;
}
 .popup-contenedor1b h3{
 	font-size: 30px;
 	margin: 20px 10px; 
   position: relative;
   float: left;
   }
.popup-contenedor1b p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1b img {
	position: relative;
	width: 100%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
/*--------------------------------Estilos de Footer--------------------------------*/
.footer {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: relative;
	float: left;
	width: 100%;
}
.icon-facebook,.icon-twitter, .icon-instagram  {
	display: inline-block;
	color: #333;
	background: #fff;
	text-decoration: none;
	font-size: 17.5px;
	padding: 10px 5px;
	border-radius: 70%;
	width: 35px;
	height: 35px;
	line-height: 40px;
}
.copy{
	font-size: 12px;
}

/*---------------------Responsive-----------------------------*/


@media(min-width: 360px){

.cont1 {
	
 	 left: 3.5%;
  }
.cont2 {
	left: 2.5%;
}
.cont3 {
	margin: 10% 0%;
}

.cont4 {
 	 left: 3.5%;
  }

.cont5 {
	left: 2.5%;
}
.disertantes_img{
	margin: 10% 5%;

}
.disertantes1_img{
	margin: 0% 5% 15% 5%;
}
.de3{
	margin: 10% 0%;
}

.debate_img{
	margin: 5% 5% 10%;
}
.debate1_img{
	margin: 10% 5% 10% 5%;
}


}
@media(min-width: 440px){
	.slides1 {
	width: 100%;
	height:12.5%;
	/*order-radius: 19px;*/

}

.slides2 {

	width: 100%;
	height:120px;
	position: relative;
	/*order-radius: 19px;*/
}
 
.slides2 img {
	width:100%;
	height:40%;
	margin: 10px 0px;
	vertical-align: middle;
	position:absolute;
	
}


.slides2js-pagination{
	position: absolute;
	background: none;
	list-style: none;
	overflow:hidden;
	z-index: -1000;	
}
 
.slides2js-pagination li{
	position: absolute;
	z-index: -1000000;
	left: 10000000;

}

.slides2js{
	width: 10%;
}

.entree1 {
 	 left: 12.5%;
  }
.entree2 {
	left: 10%;
}
.entree3 {
 width: 60%;
 	 left: 15%;
}

.en{
	margin: 10% 0%;
}
.entre_img{
	margin: 5% 0% 15%;
}


}
@media(min-width: 490px){
	.slides1 {
	width: 100%;
	height:13.5%;
	/*order-radius: 19px;*/
}
.slides2 {

	width: 100%;
	height:130px;
	position: relative;
	/*order-radius: 19px;*/
}
.cont1 {
 	 left: 2.5%;
  }
.cont2 {
	left: 7.5%;

}
.cont3 {
	left: 27.5%;

}
.cont4 {
	left: 2.5%;

}
.cont5 {
	left: 7.5%;

}
}


@media(min-width: 570px){
	.slides1 {
	width: 100%;
	height:1%;
	/*order-radius: 19px;*/
}
.slides2 {

	width: 100%;
	height:160px;
	position: relative;
	/*order-radius: 19px;*/
}

.disertantes_img{
	margin: 10% 5%;

}
.disertantes1_img{
	margin: 0% 5% 15% 5%;
}
.deb3{
	margin: 30% 0% 10%;
}

.debate_img{
	margin: 5% 5% 10%;
}
.debate1_img{
	margin: 10% 5% 30% 5%;
}
.disertantes_titulo{
    margin: 1% 0% 1% 0%;
}
.debate h5 {
    left: 2.5%;
}
.entree2 {
	left: 15%;
}


}
@media(min-width: 660px){
	.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #165126;
	color: #ffffff;
	text-align: center;
	border-radius: 5px; 
	margin: 5px;
	margin-left: auto;
	cursor: pointer;
}
	.contenedor1 {
		position: relative;
		height: 290px;
	 	 width: 290px;
	 	 margin: auto 0px 10px 5% ;
	 	 float: left;
	  }

	.contenedor2 {
	  position: relative;
	  height: 290px;
	  width: 290px;
	 margin: auto 0px 10px 5% ;
	 float: left;
	 
	}
	.contenedor3 {
	  position: relative;
	  height: 290px;
	  width: 290px;
	margin: auto 0px 20px 5% ;
	   float: left;
	}
	.contenedor4 {
	  position: relative;
	  height: 290px;
	  width: 290px;
	 margin: auto 0px 20px 5% ;
	  float: left;
	 }

.contenedor3:hover {
	transform: scale(1.5);
	transition: all 0.1s;
	position: relative;
	left: 0px;
	top: -25px;
	z-index: 9999;
}
.contenedor4:hover {
	transform: scale(1.5);
	transition: all 0.1s;
	position: relative;
	left: 0px;
	top:-25px;	
	z-index: 9999;
}

.slidesjs-control{
	width: 100%;
}
.slides1 {
	width: 100%;
	height:17.5%;
	/*order-radius: 19px;*/
}
.cont1 {
 	 left: 2.5%;
  }
.cont2 {
	left: 10%;

}

}
@media(min-width: 690px){
.contenedor1 {
	position: relative;
	height: 290px;
 	 width: 290px;
 	 margin: auto 0px 10px 7% ;
 	 float: left;
  }

.contenedor2 {
  position: relative;
  height: 290px;
  width: 290px;
 margin: auto 0px 10px 5% ;
 float: left;
 
}
.contenedor3 {
  position: relative;
  height: 290px;
  width: 290px;
margin: auto 0px 20px 7% ;
   float: left;
}
.contenedor4 {
  position: relative;
  height: 290px;
  width: 290px;
 margin: auto 0px 20px 5% ;
  float: left;
 }
	.slidesjs-control{
	width: 100%;
}

.en1{
	width: 50%;
	position: relative;
	float: left;
	left: 25%;
}
.cont1 {
 	 left: 2.5%;
  }
.cont2 {
	left: 10%;

}

.entree3 {
 	 left: 15%;
}

.entree3 img {
	position: relative;
  transition: opacity 0s;
  
}
.entree3 .i{
	width: 100%;
	cursor: pointer;
}
}
@media(min-width: 720px){
.contenedor1 {
	position: relative;
	height: 290px;
 	 width: 290px;
 	 margin: auto 0px 10px 10% ;
 	 float: left;
  }

.contenedor2 {
  position: relative;
  height: 290px;
  width: 290px;
 margin: auto 0px 10px 5% ;
 float: left;
 
}
.contenedor3 {
  position: relative;
  height: 290px;
  width: 290px;
margin: auto 0px 10px 10% ;
   float: left;
}
.contenedor4 {
  position: relative;
  height: 290px;
  width: 290px;
 margin: auto 0px 20px 5% ;
  float: left;
 }
	.slidesjs-control{
	width: 100%;
}

@media(min-width: 760px){
	.slides1 {
	width: 100%;
	height:20%;
	/*order-radius: 19px;*/
}
.slides2 {

	width: 100%;
	height:200px;
	position: relative;
	/*order-radius: 19px;*/
}
}

@media(min-width: 820px){
	.slides1 {
	width: 100%;
	height:22.5%;
	/*order-radius: 19px;*/
}
.slides2 {
	width: 100%;
	height:25%;
	/*order-radius: 19px;*/
}


.contenedor1 {
	
 	 margin: auto 0px 10px 15% ;
 	 
  }

.contenedor2 {
  
	 margin: auto 0px 10px 5% ;
 
 
}
.contenedor3 {
 
	margin: auto 0px 10px 15% ;
   
}
.contenedor4 {

 	margin: auto 0px 20px 5% ;
  
 }
.deb2 {
		 left: 10%;
}
.deb3 {
	margin: 15% 0% 5%;
		 left: 27.5%;
}
.deb5 {
		 left: 7.5%;
}
.debate1_img{
	margin: 15% 0% 15%;
}
.cont3 {
	margin: 20% 0% 10%;
}
.entree1 {
	
	height: 300px;
	margin: 5% 0%;
  }
  .entree2 {
	
	height: 300px;
	margin: 5% 0%;
  }


}
@media(min-width: 890px){
	.slides1 {
	width: 100%;
	height:25%;
	/*order-radius: 19px;*/
}
.slides2 {
	width: 100%;
	height:230px;
	/*order-radius: 19px;*/
}
/*---------------------------------------PANEL DE DEBATE DE EMPRENDEDORES----------------------------------------*/
.debate_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}

.debate_img {
	float: left;
	width: 100%;
	margin: 5% 0% 7.5% 0%;	
}
.debate1_img {
	position: relative;
	left: 17%;
	text-align: center;
	font-weight: bold;
		
}
.debate {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.debate h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 0%;
}
.deb1 {
	float: left;
	position: relative;
	left: 2.5%;
   	height: 330px;
 	 width: 330px;
  }
.deb2 {
	float: left;
	position: relative;
	left: 17.5%;
 	 height: 330px;
  	width: 330px;
}
.deb3 {
	float: left;
	position: relative;
	left: 29%;
	margin: 5% 0%;

}
.deb4 {
	float: left;
	position: relative;
	left: -20%;
   	height: 330px;
 	 width: 330px;
  }
.deb5 {
	float: left;
	position: relative;
	left: 2%;
 	 height: 340px;
  	width: 330px;
}
.debate_img{
	position: relative;
	float: 15%;
}
.debate1_img{
	margin: 15% 0% 5%;
}
/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.debate h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}

/*---------------------------------------entretenimiento, y otros----------------------------------------*/
.en{
	width: 33%;
	position: relative;
	float: left;
}
.en1{
	width: 33%;
	position: relative;
	float: left;
	left: 0%;
	margin: 10% 0%;
}
.entre_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 2%;
	margin: 0% 2% -1% 2%;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.entre hr{
	width: 100%;
	position: relative;
}
.sombra2{
	width: 33%;
}

.entre_img {
	float: left;
	width: 100%;
	margin:  0%;	
}

.entre {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 10px 0px 70px;

}
.entre h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 0%;
}

.entree1 {
	float: left;
	position: relative;
	left: 3%;
   	height: 47.5%;
 	 width: 95%;
  }

.entree1 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree1 .i{
	width: 330px;
	height: 300px;
	cursor: pointer;
}
.entree2 {
	float: left;
	position: relative;
	left: 3%;
   	height: 47.5%;
 	 width: 95%;
}

.entree2 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree2 .i{
	width: 330px;
	height: 300px;
	cursor: pointer;
}


.entree3 {
	float: left;
	position: relative;
	left: 1%;
   	height: 47.5%;
 	 width: 95%;
}

.entree3 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree3 .i{
	width: 330px;
	height: 300px;
	cursor: pointer;
}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.entre h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}

}
/*------------------------------------------------------PARA PANTALLA DE 14"-----------------------------------------------*/

@media(min-width: 950px){

	.nav {
		position: static;
		width: auto;
	}
	.menu {
		display: flex;
	}
	.icon-menu {
		display: none;
	}

/*--------------------------------Estilos de Header--------------------------------*/
.header{

	height: 60px;
}
.contenedor {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

/*---------------------------------Estilos de Banner---------------------------------*/
.banner {
	margin-top: -60px;
	z-index: -1000;
	position: relative;
}
/*---------------------------------Estilos de Info---------------------------------*/
.info_columna {
	background: #30a836;
	color: #ffffff;
	padding: 1%;
	margin-bottom: 3%;
	width: 30%;
	
}
.info {
	display: flex;
	margin-top: -80px;
	justify-content: space-between;
	margin-right: 40px;
	margin-left: 40px;
}
.info_parrafo{
	margin: 5% 3% 5% 3%;
	font-size: 22px;
}
.info_titulo {
	text-align: center;
	margin: 3% 0 0 0;
}
/*------------------------------------meta slider-----------------------------------*/
.flexslider{
	width: 98%;
	 background:#37A936;
	margin: 20px auto;
border-radius: 20px;
border: 10px solid #000;
position: relative;
	float: left;
	
}

.slides {
	width: 100%;
	border-radius: 5px;
}
 
.slides img {
	width:100%;
	height: 100%;
	border-radius: 5px;
}
.slides video {
    background-size: cover;
    bottom: 0;
    height: 80%;
    margin: 5% 0%;
    position: fixed;
    right: 0;
    z-index: -100;
}
.slidesjs-pagination{
	margin: 0px;
	background: #37A936;
	list-style: none;
	overflow:hidden;
	border-radius: 0px 0px 0px 5px;
	width: 90%;
	font-size: 15px;
}
 
.slidesjs-pagination li{
	float:left;

}
.slidesjs-pagination li a{
	display:block;
	padding:10px 20px;
	color: #fff;
	text-decoration:none;


	}
.slidesjs-pagination li a:hover{
background: #185126;

}
.slides .active  {
		background: #185126;
	}

a.slidesjs-stop .slidesjs-navigation .icon-pause {
	background: #000;
}	


.slidesjs-navigation{
	background: #185126;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 11px 20px;
	float: right;
	width: 0%;

}
.slidesjs{
	width: 100%;
}


.slidesjs-control{
	width: 100%;
}

/*--------------------------------Estilos de Pilares--------------------------------*/
.pilares_titulo {
	text-align: center;
	color: #ffffff;
	font-size: 40px;
}
.pilares_img {
	width: 100%;
	overflow: hidden;
	justify-content: space-between;
}

.pilares {
	width: 100%;
	background: #165126;
}

.contenedor1 {
  position: relative;
height: 35%;
  width: 22%;
  margin: 50px 0.5%;
 
  left: 0%;
}
.contenedor1 .i{
	width: 75%;
	left: 30px;
	top: 35px;
}

.contenedor1 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
  }

.contenedor1 img.top:hover {
  opacity: 0;
  
  
}
.contenedor1:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 2%;
	top: 2%;
	z-index: 9999;
}
.contenedor2 {
  position: relative;
   height: 35%;
  width: 22%;
  margin: 50px 1%;
  float: left;
  left: 2%;
}
.contenedor2 .i{
	width: 75%;
	left: 30px;
	top: 35px;
}

.contenedor2 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
 }

.contenedor2 img.top:hover {
  opacity: 0;
 }
.contenedor2:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 1.5%;
	top: 2%;
	z-index: 9999;
}

.contenedor3 {
  position: relative;
  height: 35%;
  width: 22%;
  margin: 50px 0.9%;
  float: left;
  left: 3.75%;
}
.contenedor3 .i{
	width: 75%;
	left: 30px;
	top: 35px;
}

.contenedor3 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
 }

.contenedor3 img.top:hover {
  opacity: 0;
 }
.contenedor3:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 3%;
	top: 2%;
	z-index: 9999;
}
.contenedor4 {
  position: relative;
  height: 35%;
  width: 22%;
  margin: 50px 1%;
  float: left;
  left: 5.5%;
}
.contenedor4 .i{
	width: 75%;
	left: 30px;
	top: 35px;
}

.contenedor4 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
 }

.contenedor4 img.top:hover {
  opacity: 0;
  }
.contenedor4:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 2.3%;
	top: 2%;	
	z-index: 9999;
}
/*---------------------------------------PANEL DE DEBATE DE EMPRENDEDORES----------------------------------------*/
.debate_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}

.debate_img {
	float: left;
	width: 100%;
	margin: 5% 0% 2.5% 0%;	
}
.debate1_img {
	position: relative;
	left: 17%;
	text-align: center;
	font-weight: bold;
	margin: 7.5% 0% 0% 0%;
		
}
.debate {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.debate h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 0%;
}
.deb1 {
	float: left;
	position: relative;
	left: 1%;
	height: 40%;
 	 width: 30%;
  }
.deb2 {
	float: left;
	position: relative;
	left: 3%;
	height: 40%;
 	 width: 30%;
}
.deb3 {
	float: left;
	position: relative;
	left: 2.5%;
	margin: 0%;
	height: 40%;
 	 width: 30%;
}
.de3{
	margin: 10% 0% 0%;
}
.deb4 {
	float: left;
	position: relative;
	left: -7.5%;
   	height: 330px;
 	 width: 330px;
  }

.deb4 img {
	position: relative;
 
  transition: opacity 0s;
  
}
.deb4 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.deb5 {
	float: left;
	position: relative;
	left: 10%;
 	 height: 340px;
  	width: 330px;
}

.deb5 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb5 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.disertantes_titulo {
	text-align: center;
	color: #165126;
	font-size: 40px;
    
}
.disertantes_img {
	float: left;
	width: 100%;
	margin: 3% 0% ;

}

.disertantes {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;


}
.disertantes h6 {
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	position: relative;
	float: left;
}
.disertantes h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-bottom: 1%;
	font-size: 25px;
	left: 5%;

}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE--------------------------------------*/
.disertantes h4  {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 55%;
	border: 2px solid #165126;
	padding: 0px 10px;
	width: 120px;
	text-align: center;
	background: #fff;
	z-index: 999;
	transition: all 300ms;
	transform: translate(-50%, -50%) scale(0);

}


.cont1:before, .cont2:before, .cont3:before, .cont4:before, .cont5:before, .cont6:before{
	content: '';
	width: 330px;
	height: 900px;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	transition: all 300ms;
	opacity: 0.2,5;
	transform: translate(-50%, -50%) scale(0);
}
.cont1:hover:before, .cont2:hover:before, .cont3:hover:before, .cont4:hover:before, .cont5:hover:before, .cont6:hover:before{
	transform: translate(0%, 0%) scale(1);
	width: 100%;
	height: 100%;
}
.cont1:hover h4, .cont2:hover h4, .cont3:hover h4, .cont4:hover h4, .cont5:hover h4, .cont6:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}

.cont1 {
	float: left;
	position: relative;
	left: 2.5%;
   	height: 330px;
 	 width: 330px;
  }

.cont1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont1 img {
	position: relative;
  transition: opacity 0s ;
  
}


.cont2 {
	float: left;
	position: relative;
	left: 25%;
 	 height: 330px;
  	width: 330px;
}

.cont2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont2 img {
	position: relative;
    transition: opacity 0s;
}

.cont3 {
	
	float: left;
	position: relative;
	left: 32.5%;
	margin: 1.5% 0%;
	height:330px;
    width: 330px;
}

.cont3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont3 img {
  position: relative;
 transition: opacity 0s;
}

.cont4 {
	float: left;
	position: relative;
	left: 2.5%;
   	height: 330px;
 	 width: 330px;
  }

.cont4 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont4 img {
position: relative;
  transition: opacity 0s ;
  
}


.cont5 {
	float: left;
	position: relative;
	left: 22.5%;
 	 height: 330px;
  	width: 330px;
}
/*--------------------------------Estilos de Footer--------------------------------*/
.footer {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: relative;
	float: left;
	width: 100%;
}
.icon-facebook,.icon-twitter, .icon-instagram  {
	display: inline-block;
	color: #333;
	background: #fff;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
}
.slides2 {
	width: 100%;
	height:260px;
	/*order-radius: 19px;*/
}

}

@media(min-width: 1050px){
	.slides1 {
	width: 100%;
	height:27.5%;
	/*order-radius: 19px;*/
}
.slides2 {
	width: 100%;
	height:280px;
	/*order-radius: 19px;*/
}
 s
.contenedor1:hover {
	transform: scale(1.7);
	left: 2.5%;
	top: 0%;
}
.contenedor2:hover {
	transform: scale(1.7);
	left: 1.9%;
	top: 0%;
}
.contenedor3:hover {
	transform: scale(1.7);
	left: 3.8%;
	top: 0%;
}
.contenedor4:hover {
	transform: scale(1.7);
	left: 3.2%;
	top: 0%;	
}

@media(min-width: 1120px){
	.slides1 {
	width: 100%;
	height:30%;
	/*order-radius: 19px;*/
}


	.contenedor1 {
  	position: relative;
	height: 39%;
  	width: 22%;
  	margin: 50px 0.5%;
   	left: 0%;
}
	.contenedor2 {
  	position: relative;
  	height: 39%;
  	width: 22%;
 	 margin: 50px 1%;
 	float: left;
 	 left: 2%;
}

.contenedor3 {
   position: relative;
   height: 39%;
   width: 22%;
   margin: 50px 0.9%;
   float: left;
   left: 3.75%;
}
.contenedor4 {
  position: relative;
  height: 39%;
  width: 22%;
  margin: 50px 1%;
  float: left;
  left: 5.5%;
}


}

@media(min-width: 1190px){
	.slides2 {
	width: 100%;
	height:33%;
	/*order-radius: 19px;*/
}
}

@media(min-width: 1250px){
	.slides1 {
	width: 100%;
	height:32.5%;
	/*order-radius: 19px;*/
}

.slides2 {
	width: 100%;
	height:330px;
	/*order-radius: 19px;*/
}
}
@media(min-width: 1250px){


	.contenedor1 {
  position: relative;
height: 50%;
  width: 22%;
  margin: 50px 0.5%;
   left: 0%;
}
	.contenedor2 {
  position: relative;
   height: 45%;
  width: 22%;
  margin: 50px 1%;
  float: left;
  left: 2%;
}

.contenedor3 {
  position: relative;
  height: 45%;
  width: 22%;
  margin: 50px 0.9%;
  float: left;
  left: 3.75%;
}
.contenedor4 {
  position: relative;
  height: 45%;
  width: 22%;
  margin: 50px 1%;
  float: left;
  left: 5.5%;
}
.contenedor1:hover {
	transform: scale(1.7);
	left: 3%;
	top: 0%;
	
}
.contenedor1 .i{
	width: 78%;
	left: 30px;
	top: 40px;
}
.contenedor2:hover {
	transform: scale(1.7);
	left: 2.5%;
	top: 0%;
	
}
.contenedor2 .i{
	width: 78%;
	left: 30px;
	top: 40px;
}
.contenedor3:hover {
	transform: scale(1.7);
	left: 60px;
	top: 0%;
	
}

.contenedor3 .i{
	width: 78%;
	left: 30px;
	top: 40px;
}
.contenedor4:hover {
	transform: scale(1.7);
	left: 3%;
	top: 0%;	
	
	}

.contenedor4 .i{
	width: 78%;
	left: 30px;
	top: 40px;
}
    

.eventos_titulo {
    font-size:27px;
	text-align: center;
	margin: 3% 0 0 0;
}

/*--------------------------------Estilos de disertantes--------------------------------*/
.disertantes_titulo {
	text-align: center;
	color: #165126;
	font-size: 40px;
    
}
.disertantes_img {
	float: left;
	width: 100%;
	margin: 45px 0px;

}
.disertantes1_img {
	left: 5%;
	margin: 45px 0px;

}
.disertantes {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;


}
.disertantes h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-bottom: 1%;
	font-size: 25px;
	left: -7.5%;

}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE--------------------------------------*/
.disertantes h4  {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 55%;
	border: 2px solid #165126;
	padding: 0px 10px;
	width: 120px;
	text-align: center;
	background: #fff;
	z-index: 999;
	transition: all 300ms;
	transform: translate(-50%, -50%) scale(0);

}


.cont1:before, .cont2:before, .cont3:before, .cont4:before, .cont5:before, .cont6:before{
	content: '';
	width: 330px;
	height: 900px;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	transition: all 300ms;
	opacity: 0.2,5;
	transform: translate(-50%, -50%) scale(0);
}
.cont1:hover:before, .cont2:hover:before, .cont3:hover:before, .cont4:hover:before, .cont5:hover:before, .cont6:hover:before{
	transform: translate(0%, 0%) scale(1);
	width: 100%;
	height: 100%;
}
.cont1:hover h4, .cont2:hover h4, .cont3:hover h4, .cont4:hover h4, .cont5:hover h4, .cont6:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}

.cont1 {
	float: left;
	position: relative;
	left: 2.5%;
   	height: 330px;
 	 width: 330px;
  }

.cont1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont1 img {
	position: relative;
  transition: opacity 0s ;
  
}


.cont2 {
	float: left;
	position: relative;
	left: 10%;
 	 height: 330px;
  	width: 330px;
}

.cont2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont2 img {
	position: relative;
    transition: opacity 0s;
}

.cont3 {
	
	float: left;
	position: relative;
	left: 17.5%;
	margin: 1.5% 0%;
	height:330px;
    width: 330px;
}

.cont3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont3 img {
  position: relative;
 transition: opacity 0s;
}

.cont4 {
	float: left;
	position: relative;
	left: 30%;
   	height: 330px;
 	 width: 330px;
  }

.cont4 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont4 img {
position: relative;
  transition: opacity 0s ;
  
}


.cont5 {
	float: left;
	position: relative;
	left: 42.5%;
 	 height: 330px;
  	width: 330px;
}
/*----------------------------------------------------------------POP-UP---------------------------------------------------------------*/

#popup1, #popup2, #popup3, #popup4, #popup5, #popup6 {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1:target, #popup2:target, #popup3:target, #popup4:target, #popup5:target, #popup6:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1, .popup-contenedor2, .popup-contenedor3, .popup-contenedor4, .popup-contenedor5, .popup-contenedor6{
   position: relative;
   float: right;
   width:65%;
}
.popup-contenedor11, .popup-contenedor21, .popup-contenedor31, .popup-contenedor41, .popup-contenedor51, .popup-contenedor61 {
   position: relative;
   width:30%;
   margin: none;
}
 .popup-contenedor1 h3, .popup-contenedor2 h3, .popup-contenedor3 h3, .popup-contenedor4 h3, .popup-contenedor5 h3, .popup-contenedor6 h3  {
 	
   position: relative;
   float: left;

   }
.popup-contenedor1 p, .popup-contenedor2 p, .popup-contenedor3 p, .popup-contenedor4 p, .popup-contenedor5 p, .popup-contenedor6 p {
	
   position: relative;
   float: right;
   }

.popup-contenedor1 img, .popup-contenedor2 img, .popup-contenedor3 img, .popup-contenedor4 img, .popup-contenedor5 img, .popup-contenedor6 img {
	position: relative;
	width: 30%;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


.disertantes h1{
	margin: 10px 0px;

} 



 /*---------------------------------------PANEL DE DEBATE DE EMPRENDEDORES----------------------------------------*/
.debate_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}

.debate_img {
	float: left;
	width: 100%;
	margin: 5% 0% 7.5% 0%;	
}
.debate1_img {
	position: relative;
	left: 17%;
    margin: 0% 0%;
	text-align: center;
	font-weight: bold;
		
}
.debate {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.debate h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 0%;
}
.deb1 {
	float: left;
	position: relative;
	left: 3%;
   	height: 330px;
 	 width: 330px;
  }

.deb1 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.deb2 {
	float: left;
	position: relative;
	left: 12%;
 	 height: 330px;
  	width: 330px;
}

.deb2 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


.deb3 {
	float: left;
	position: relative;
	left: 19%;
	height:330px;
    width: 330px;
}

.deb3 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


.deb4 {
	float: left;
	position: relative;
	left: 7.5%;
   	height: 330px;
 	 width: 330px;
  }

.deb4 img {
	position: relative;
 
  transition: opacity 0s;
  
}
.deb4 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.deb5 {
	float: left;
	position: relative;
	left: 21%;
 	 height: 340px;
  	width: 330px;
}

.deb5 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb5 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.debate h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}
/*---------------------------------para cortar las somras de las imaenes---------------------------------*/
.de1, .de2, .de3, .de4, .de5{
	width:  330px;
	height: 330px;
	overflow: hidden;
	position: relative;	
}
.de1:hover, .de2:hover, .de3:hover, .de4:hover, .de5:hover{
	box-shadow: 0px 0px 50px -15px black;	
}
/*-------------------------------------------------------------------------------------*/
.de1:before, .de2:before, .de3:before, .de4:before, .de5:before, .de1:after, .de2:after, .de3:after, .de4:after, .de5:after{
	content:' ';
	width: 500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.de1:before, .de2:before, .de3:before, .de4:before, .de5:before{
	transform: rotate(45deg) translateY(-450px) translateX(20px);
}

.de1:after, .de2:after, .de3:after, .de4:after, .de5:after{
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.de1:hover:before, .de2:hover:before, .de3:hover:before  , .de4:hover:before, .de5:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-160px) translateX(-90px);

}
.de1:hover:after, .de2:hover:after, .de3:hover:after  , .de4:hover:after, .de5:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(265px) translateX(-95px);
	position: absolute;
	left: 5%;

}
.de1:hover h4, .de2:hover h4, .de3:hover h4,.de4:hover h4, .de5:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1a, #popup2a, #popup3a, #popup4a, #popup5a {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1a:target, #popup2a:target, #popup3a:target, #popup4a:target, #popup5a:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1a, .popup2a, .popup3a, .popup4a, .popup5a{
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1a, .popup-contenedor2a, .popup-contenedor3a, .popup-contenedor4a, .popup-contenedor5a{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11a, .popup-contenedor21a, .popup-contenedor31a, .popup-contenedor41a, .popup-contenedor51a{
   position: relative;
   width:40%;
   margin: 0px;
}
 .popup-contenedor1a h3, .popup-contenedor2a h3, .popup-contenedor3a h3, .popup-contenedor4a h3, .popup-contenedor5a h3{
 	
   position: relative;
   float: left;

   }
.popup-contenedor1a p, .popup-contenedor2a p, .popup-contenedor3a p, .popup-contenedor4a p, .popup-contenedor5a p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1a img, .popup-contenedor2a img, .popup-contenedor3a img, .popup-contenedor4a img, .popup-contenedor5a img {
	position: relative;
	width: 40%;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}




/*---------------------------------------entretenimiento, y otros----------------------------------------*/
.en{
	width: 33%;
	position: relative;
	float: left;
}
.en1{
	width: 33%;
	position: relative;
	float: left;
	left: 0%;
}
.entre_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 2%;
	margin: 2% 2% -1% 2%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
.entre hr{
	width: 100%;
	position: relative;
}
.sombra2{
	width: 33%;
}

.entre_img {
	float: left;
	width: 100%;
	margin: 5% 0% 7.5% 0%;	
}

.entre {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.entre h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 25px;
	left: 0%;
}

.entree1 {
	float: left;
	position: relative;
	left: 16.5%;
   	height: 330px;
 	 width: 330px;
  }

.entree1 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.entree2 {
	float: left;
	position: relative;
	left: 19%;
 	 height: 330px;
  	width: 330px;
}

.entree2 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


.entree3 {
	float: left;
	position: relative;
	left: 16.5%;
	height:330px;
    width: 330px;
}

.entree3 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.entre h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}
/*---------------------------------para cortar las somras de las imaenes---------------------------------*/
.de1a, .de2a, .de3a{
	width: 330px*0.8;
	height: 330px*0.8;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	overflow: hidden;
	position: relative;	
}
.de1a:hover, .de2a:hover, .de3a:hover{
	box-shadow: 0px 0px 50px -15px black;	
}
/*-------------------------------------------------------------------------------------*/
.de1a:before, .de2a:before, .de3a:before, .de1a:after, .de2a:after, .de3a:after{
	content:' ';
	width: 500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.de1a:before, .de2a:before, .de3a:before{
	transform: rotate(45deg) translateY(-450px) translateX(20px);
}

.de1a:after, .de2a:after, .de3a:after{
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.de1a:hover:before, .de2a:hover:before, .de3a:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-160px) translateX(-90px);

}
.de1a:hover:after, .de2a:hover:after, .de3a:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(265px) translateX(-95px);
	position: absolute;
	left: 5%;

}
.de1a:hover h4, .de2a:hover h4, .de3a:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1c, #popup2c, #popup3c{
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1c:target, #popup2c:target, #popup3c:target{
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1c, .popup2c, .popup3c, .popup4a, .popup5a{
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1c, .popup-contenedor2c, .popup-contenedor3c{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11c, .popup-contenedor21c, .popup-contenedor31c{
   position: relative;
   width:40%;
   margin: 0px;
}
 .popup-contenedor1c h3, .popup-contenedor2c h3, .popup-contenedor3c h3{
 	
   position: relative;
   float: left;

   }
.popup-contenedor1c p, .popup-contenedor2c p, .popup-contenedor3c p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1c img, .popup-contenedor2c img, .popup-contenedor3c img{
	position: relative;
	width: 40%;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}




/*---------------------------------------PANEL DE DEBATE DE INCUVADORAS----------------------------------------*/
.Panel_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}
.Panel_img {
	float: left;
	width: 100%;
	margin: 5% 0% 7.5% 0%;	
}
.Panel {
	width: 100%;
	height: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.Panel h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 30px;
	left: 5%;
}
.panelimg {
	float: left;
	position: relative;
	left: 7.5%;
  }

.panelimg img {
	position: relative;  
  transition: opacity 0s;
  
}
.panelimg .i{
	width: 100%;
	height: 80%;
	cursor: pointer;
}

.Panel h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 40%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}

.p1{
	margin: 10px 0;
	left: 10%;
	width:  80%;
	height: 100%;
	overflow: hidden;
	position: relative;	
}
.p1:hover{
	box-shadow: 0px 0px 30px -15px black;	
}

/*-------------------------------------------------------------------------------------*/
.p1:before, .p1:after{
	content:' ';
	width: 100%;
	height: 800px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.p1:before{
	transform: rotate(45deg) translateY(-2450px) translateX(20px);
}

.p1:after{
	transform: rotate(45deg) translateY(2550px) translateX(-60px);
}
.p1:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-475px) translateX(-20px);

}
.p1:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(370px) translateX(-170px);
	left: 5%;

}
.p1:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1b{
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1b:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1b{
   position: relative;
   margin:7% auto;
   background-color: #fff;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1b{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11b{
   position: relative;
   margin: 0px;
   padding: 0px;
}
.popup-contenedor11b img{
   position: relative;
   width:50%;
   height: 250px;
}
 .popup-contenedor1b h3{
 	margin: 30px 0; 
   position: relative;
   float: left;

   }
.popup-contenedor1b p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1b img {
	position: relative;
	width: 50%;
	margin: 10px 0px 10px 0px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}




}

/*------------------------------------------------------PARA PANTALLA DE 15.6" o mas-----------------------------------------------*/
@media(min-width: 1420px){

	.nav {
		position: static;
		width: auto;
	}
	.menu {
		display: flex;
	}
	.icon-menu {
		display: none;
	}

/*--------------------------------Estilos de Header--------------------------------*/
.header{

	height: 60px;
}
.contenedor {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

/*---------------------------------Estilos de Banner---------------------------------*/
.banner {
	margin-top: -60px;
	z-index: -1000;
	position: relative;
}
/*---------------------------------Estilos de Info---------------------------------*/
.info_columna {
	background: #30a836;
	color: #ffffff;
	padding: 1%;
	margin-bottom: 3%;
	width: 30%;
	
}
.info {
	display: flex;
	margin-top: -80px;
	justify-content: space-between;
	margin-right: 40px;
	margin-left: 40px;
}
.info_parrafo{
	margin: 5% 3% 5% 3%;
	font-size: 22px;
}
.info_titulo {
	text-align: center;
	margin: 3% 0 0 0;
}
/*------------------------------------meta slider-----------------------------------*/
.flexslider{
	width: 98%;
	position: relative;
	float: left;
	 background:#37A936;
	margin: 20px auto;
border-radius: 20px;
border: 10px solid #000;
	
}

.slides {
	width: 100%;
	border-radius: 10px;
}
 
.slides img {
	width:100%;
	height: 100%;
	border-radius: 0px;
}
.slides video {
    background-size: cover;
    bottom: 0;
    height: 80%;
    margin: 5% 0%;
    position: fixed;
    right: 0;
    z-index: -100;
    border-radius: 0px;
}
.slidesjs-pagination{
	margin: 0px 0px 0px 0px;
	background: #37A936;
	list-style: none;
	overflow:hidden;
	border-radius: 0px 0px 0px 5px;
	width: 90%;
	font-size: 15px;
}
 
.slidesjs-pagination li{
	float:left;

}
.slidesjs-pagination li a{
	display:block;
	padding:10px 20px;
	color: #fff;
	text-decoration:none;


	}
.slidesjs-pagination li a:hover{
background: #185126;

}
.slides .active  {
		background: #185126;
	}

a.slidesjs-stop .slidesjs-navigation .icon-pause {
	background: #000;
}	


.slidesjs-navigation{
	background: #185126;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 11px 20px;
	float: right;
	width: 0%;

}
.slidesjs{
	width: 100%;
}


.slidesjs-control{
	width: 100%;
}
.flexslider2{
	margin: 0px 0px;
}
.flexslider2{
	width: 100%;
	margin-bottom: -80px;
	/*border-radius: 20px;
	border: 3.5px solid #000;
	*/
	margin: 20px 0px;
}

.slides2 {

	width: 100%;
	height:120px;
	position: relative;
	left: 0%;
	/*order-radius: 19px;*/
}
 
.slides2 img {
	width:100%;
	height:30%;
	margin: 10px 0px;
	vertical-align: middle;
	position:absolute;
	
}


.slides2js-pagination{
	position: absolute;
	background: none;
	list-style: none;
	overflow:hidden;
	z-index: -1000;	
}
 
.slides2js-pagination li{
	position: absolute;
	z-index: -1000000;
	left: 10000000;

}

.slides2js{
	width: 10%;
}

/*--------------------------------Estilos de Pilares--------------------------------*/
.pilares_titulo {
	text-align: center;
	color: #ffffff;
	font-size: 40px;
}
.pilares_img {
	width: 100%;
	overflow: hidden;
	justify-content: space-between;
}

.pilares {
	width: 100%;
	background: #165126;
}

.contenedor1 {
  position: relative;
  height: 45%;
  width: 20%;
  margin: 50px 1%;
  float: left;
  left: 0%;
}
.contenedor1 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor1 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
  }

.contenedor1 img.top:hover {
  opacity: 0;
  
  
}
.contenedor1:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 2.5%;
	top: 0px;
	z-index: 9999;
}
.contenedor2 {
  position: relative;
  height: 45%;
  width: 20%;
  margin: 50px 0.8%;
  float: left;
  left: 4.5%;
}
.contenedor2 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor2 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
 }

.contenedor2 img.top:hover {
  opacity: 0;
 }
.contenedor2:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 4%;
	top: 0px;
	z-index: 9999;
}

.contenedor3 {
  position: relative;
  height: 45%;
  width: 20%;
  margin: 50px 0.8%;
  float: left;
  left: 9%;
}
.contenedor3 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor3 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
 }

.contenedor3 img.top:hover {
  opacity: 0;
 }
.contenedor3:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 8.3%;
	top: 0px;
	z-index: 9999;
}
.contenedor4 {
  position: relative;
  height: 45%;
  width: 20%;
  margin: 50px 1%;
  float: left;
  left: 12.5%;
}
.contenedor4 .i{
	width: 80%;
	left: 30px;
	top: 40px;
}

.contenedor4 img {
  position: absolute;
  left: 0;
  transition: opacity 0s ;
 }

.contenedor4 img.top:hover {
  opacity: 0;
  }
.contenedor4:hover {
	transform: scale(1.7);
	transition: all 0.1s;
	position: relative;
	left: 10.3%;
	top: 0px;	
	z-index: 9999;
}

/*-----------------------------------------------------Estilos de disertantes-----------------------------------------------------*/
.disertantes_titulo {
	text-align: center;
	color: #165126;
	font-size: 40px;
    
}
.disertantes_img {
	float: left;
	width: 100%;
	margin: 3% 0% ;

}
.disertantes1_img {
	position: relative;
	left: 17%;
	margin: 5% 0% 2.5%;
	text-align: center;
	font-weight: bold;
		
}

.disertantes {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;


}
.disertantes h6 {
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	position: relative;
	float: left;
}
.disertantes h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-bottom: 1%;
	font-size: 30px;
	left: 5%;

}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE--------------------------------------*/
.disertantes h4  {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 55%;
	border: 2px solid #165126;
	padding: 0px 10px;
	width: 120px;
	text-align: center;
	background: #fff;
	z-index: 999;
	transition: all 300ms;
	transform: translate(-50%, -50%) scale(0);

}


.cont1:before, .cont2:before, .cont3:before, .cont4:before, .cont5:before, .cont6:before{
	content: '';
	width: 330px;
	height: 330px;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	transition: all 300ms;
	opacity: 0.2,5;
	transform: translate(-50%, -50%) scale(0);
}
.cont1:hover:before, .cont2:hover:before, .cont3:hover:before, .cont4:hover:before, .cont5:hover:before, .cont6:hover:before{
	transform: translate(0%, 0%) scale(1);
	width: 100%;
	height: 100%;
}
.cont1:hover h4, .cont2:hover h4, .cont3:hover h4, .cont4:hover h4, .cont5:hover h4, .cont6:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP---------------------------------------------------------------*/

#popup1, #popup2, #popup3, #popup4, #popup5, #popup6 {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1:target, #popup2:target, #popup3:target, #popup4:target, #popup5:target, #popup6:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition: all 1s;
}
.popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
   position: relative;
   margin:7% auto;
   padding:30px 10px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1, .popup-contenedor2, .popup-contenedor3, .popup-contenedor4, .popup-contenedor5, .popup-contenedor6{
   position: relative;
   float: right;
   width:60%;
}
.popup-contenedor11, .popup-contenedor21, .popup-contenedor31, .popup-contenedor41, .popup-contenedor51, .popup-contenedor61 {
   position: relative;
   width:35%;
   margin: 0px;
}
 .popup-contenedor1 h3, .popup-contenedor2 h3, .popup-contenedor3 h3, .popup-contenedor4 h3, .popup-contenedor5 h3, .popup-contenedor6 h3  {
 	
   position: relative;
   float: left;

   }
.popup-contenedor1 p, .popup-contenedor2 p, .popup-contenedor3 p, .popup-contenedor4 p, .popup-contenedor5 p, .popup-contenedor6 p {
	
   position: relative;
   float: left;
   }

.popup-contenedor1 img, .popup-contenedor2 img, .popup-contenedor3 img, .popup-contenedor4 img, .popup-contenedor5 img, .popup-contenedor6 img {
	position: relative;
	width: 35%;
	margin: 10px 10px 10px 0px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


.disertantes h1{
	margin: 10px 0px;

} 

.cont1 {
	float: left;
	position: relative;
	left: 2.5%;
   	height: 330px;
 	 width: 330px;
  }

.cont1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont1 img {
	position: relative;
  transition: opacity 0s ;
  
}


.cont2 {
	float: left;
	position: relative;
	left: 16.66%;
 	 height: 330px;
  	width: 330px;
}

.cont2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont2 img {
	position: relative;
    transition: opacity 0s;
}

.cont3 {
	
	float: left;
	position: relative;
	left: 27.5%;
	margin: 1.5% 0%;
	height:330px;
    width: 330px;
}

.cont3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont3 img {
  position: relative;
 transition: opacity 0s;
}

.cont4 {
	float: left;
	position: relative;
	left: 7.5%;
   	height: 330px;
 	 width: 330px;
  }

.cont4 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont4 img {
position: relative;
  transition: opacity 0s ;
  
}


.cont5 {
	float: left;
	position: relative;
	left: 30%;
 	 height: 330px;
  	width: 330px;
}

.cont5 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

.cont5 img {
	position: relative;
    transition: opacity 0s;
}

/*---------------------------------------PANEL DE DEBATE DE EMPRENDEDORES----------------------------------------*/
.debate_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}

.debate_img {
	float: left;
	width: 100%;
	margin: 5% 0% 0% 0%;	
}
.debate1_img {
	position: relative;
	left: 22%;
	text-align: center;
	font-weight: bold;
	margin: 5% 0% -10% 0%
		
}
.debate {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.debate h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 30px;
	left: 0%;
}
.deb1 {
	float: left;
	position: relative;
	left:5%;
   	height: 330px;
 	 width: 330px;
  }

.deb1 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.deb2 {
	float: left;
	position: relative;
	left: 16.5%;
 	 height: 330px;
  	width: 330px;
}

.deb2 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


.deb3 {
	float: left;
	position: relative;
	left: 25.5%;
	height:330px;
    width: 330px;
}

.deb3 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


.deb4 {
	float: left;
	position: relative;
	left: 2.5%;
   	height: 330px;
 	 width: 330px;
  }

.deb4 img {
	position: relative;
 
  transition: opacity 0s;
  
}
.deb4 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.deb5 {
	float: left;
	position: relative;
	left: 21%;
 	 height: 340px;
  	width: 330px;
}

.deb5 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.deb5 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.debate h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}
/*---------------------------------para cortar las somras de las imaenes---------------------------------*/
.de1, .de2, .de3, .de4, .de5{
	width:  330px;
	height: 330px;
	overflow: hidden;
	position: relative;	
}
.de1:hover, .de2:hover, .de3:hover, .de4:hover, .de5:hover{
	box-shadow: 0px 0px 50px -15px black;	
}
/*-------------------------------------------------------------------------------------*/
.de1:before, .de2:before, .de3:before, .de4:before, .de5:before, .de1:after, .de2:after, .de3:after, .de4:after, .de5:after{
	content:' ';
	width: 500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.de1:before, .de2:before, .de3:before, .de4:before, .de5:before{
	transform: rotate(45deg) translateY(-450px) translateX(20px);
}

.de1:after, .de2:after, .de3:after, .de4:after, .de5:after{
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.de1:hover:before, .de2:hover:before, .de3:hover:before  , .de4:hover:before, .de5:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-160px) translateX(-90px);

}
.de1:hover:after, .de2:hover:after, .de3:hover:after  , .de4:hover:after, .de5:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(265px) translateX(-95px);
	position: absolute;
	left: 5%;

}
.de1:hover h4, .de2:hover h4, .de3:hover h4,.de4:hover h4, .de5:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1a, #popup2a, #popup3a, #popup4a, #popup5a {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1a:target, #popup2a:target, #popup3a:target, #popup4a:target, #popup5a:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1a, .popup2a, .popup3a, .popup4a, .popup5a{
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1a, .popup-contenedor2a, .popup-contenedor3a, .popup-contenedor4a, .popup-contenedor5a{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11a, .popup-contenedor21a, .popup-contenedor31a, .popup-contenedor41a, .popup-contenedor51a{
   position: relative;
   width:40%;
   margin: 0px;
}
 .popup-contenedor1a h3, .popup-contenedor2a h3, .popup-contenedor3a h3, .popup-contenedor4a h3, .popup-contenedor5a h3{
 	
   position: relative;
   float: left;

   }
.popup-contenedor1a p, .popup-contenedor2a p, .popup-contenedor3a p, .popup-contenedor4a p, .popup-contenedor5a p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1a img, .popup-contenedor2a img, .popup-contenedor3a img, .popup-contenedor4a img, .popup-contenedor5a img {
	position: relative;
	width: 40%;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}




/*---------------------------------------entretenimiento, y otros----------------------------------------*/
.en{
	width: 33%;
	position: relative;
	float: left;
}
.en1{
	width: 33%;
	position: relative;
	float: left;
	left: 0%;
}
.entre_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 2%;
	margin: 0% 2% 1% 2%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
.entre hr{
	width: 100%;
	position: relative;
}
.sombra2{
	width: 33%;
}

.entre_img {
	float: left;
	width: 100%;
	margin: 5% 0% 0% 0%;	
}

.entre {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 50px 0;

}
.entre h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 30px;
	left: 0%;
}

.entree1 {
	float: left;
	position: relative;
	left: 16.5%;
   	height: 330px;
 	 width: 330px;
  }

.entree1 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree1 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}
.entree2 {
	float: left;
	position: relative;
	left: 19%;
 	 height: 330px;
  	width: 330px;
}

.entree2 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree2 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}


.entree3 {
	float: left;
	position: relative;
	left: 16.5%;
	height:330px;
    width: 330px;
}

.entree3 img {
	position: relative;
  
  transition: opacity 0s;
  
}
.entree3 .i{
	width: 330px;
	height: 100%;
	cursor: pointer;
}

/*------------------------------------------------SOMBRA Y MAS INFO AL PASAR EL MOUSE los otros---------------------------------------*/
.entre h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 50%;
	left: 50%;
	width: 120px;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}
/*---------------------------------para cortar las somras de las imaenes---------------------------------*/
.de1a, .de2a, .de3a{
	width: 330px*0.8;
	height: 330px*0.8;
	 	-moz-border-radius: 50%;
    	 -webkit-border-radius: 50%;
    	 border-radius: 50%;
	overflow: hidden;
	position: relative;	
}
.de1a:hover, .de2a:hover, .de3a:hover{
	box-shadow: 0px 0px 50px -15px black;	
}
/*-------------------------------------------------------------------------------------*/
.de1a:before, .de2a:before, .de3a:before, .de1a:after, .de2a:after, .de3a:after{
	content:' ';
	width: 500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.de1a:before, .de2a:before, .de3a:before{
	transform: rotate(45deg) translateY(-450px) translateX(20px);
}

.de1a:after, .de2a:after, .de3a:after{
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.de1a:hover:before, .de2a:hover:before, .de3a:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-160px) translateX(-90px);

}
.de1a:hover:after, .de2a:hover:after, .de3a:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(265px) translateX(-95px);
	position: absolute;
	left: 5%;

}
.de1a:hover h4, .de2a:hover h4, .de3a:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1c, #popup2c, #popup3c{
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1c:target, #popup2c:target, #popup3c:target{
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1c, .popup2c, .popup3c, .popup4a, .popup5a{
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1c, .popup-contenedor2c, .popup-contenedor3c{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11c, .popup-contenedor21c, .popup-contenedor31c{
   position: relative;
   width:40%;
   margin: 0px;
}
 .popup-contenedor1c h3, .popup-contenedor2c h3, .popup-contenedor3c h3{
 	
   position: relative;
   float: left;

   }
.popup-contenedor1c p, .popup-contenedor2c p, .popup-contenedor3c p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1c img, .popup-contenedor2c img, .popup-contenedor3c img{
	position: relative;
	width: 40%;
	margin: 10px 10px 10px 10px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}




/*---------------------------------------PANEL DE DEBATE DE INCUVADORAS----------------------------------------*/
.Panel_titulo {
	background: none;
	color: #165126;
	width: 100%;
	padding: 0% 0%;
	margin: 1% 0% 0 ;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
    
}
.Panel_img {
	float: left;
	width: 100%;
	margin: 5% 0% 7.5% 0%;	
}
.Panel {
	width: 100%;
	height: 100%;
	background: none;
	overflow: hidden;
	padding: 0px 0;

}
.Panel h5 {
	background: none;
	color: #165126;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 1.5% 0%;
	margin: 2.25% 0 ;
	text-align: center;
	font-weight: bold;
	position: absolute;
	margin-bottom: 1%;
	font-size: 30px;
	left: 5%;
}
.panelimg {
	float: left;
	position: relative;
	left: 7.5%;
  }

.panelimg img {
	position: relative;  
  transition: opacity 0s;
  
}
.panelimg .i{
	width: 100%;
	height: 80%;
	cursor: pointer;
}

.Panel h4 {
	font-size: 24px;
	position: absolute;
	color: #165126;
	top: 40%;
	left: 50%;
	width: 120px;
	border: 2px solid #165126;
	padding: 0px 10px;
	background: #fff;
	z-index: 9999;
	transform: translate(-50%, -50%) scale(0);
}

.p1{
	margin: 10px 0;
	left: 10%;
	width:  80%;
	height: 100%;
	overflow: hidden;
	position: relative;	
}
.p1:hover{
	box-shadow: 0px 0px 30px -15px black;	
}

/*-------------------------------------------------------------------------------------*/
.p1:before, .p1:after{
	content:' ';
	width: 100%;
	height: 800px;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 99;
	background: black;
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	overflow: hidden;
	transition: all 600ms;
	border: 5px solid #165126;
}
.p1:before{
	transform: rotate(45deg) translateY(-2450px) translateX(20px);
}

.p1:after{
	transform: rotate(45deg) translateY(2550px) translateX(-60px);
}
.p1:hover:before{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(-450px) translateX(-20px);

}
.p1:hover:after{
	transform: translate(0%, 0%) scale(1);
	transform: rotate(45deg) translateY(400px) translateX(-170px);
	left: 5%;

}
.p1:hover h4{

transform: translate(-50%, -50%) scale(1);
cursor: pointer;

}
/*----------------------------------------------------------------POP-UP para debate---------------------------------------------------------------*/

#popup1b{
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup1b:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 99999;
   transition:all 1s;
}
.popup1b{
   position: relative;
   margin:7% auto;
   background-color: #fff;
   color:#333;
   border-radius: 3px;
   width:50%;
}
.popup-contenedor1b{
   position: relative;
   float: right;
   width:50%;
}
.popup-contenedor11b{
   position: relative;
   margin: 0px;
   padding: 0px;
}
.popup-contenedor11b img{
   position: relative;
   width:50%;
   height: 250px;
}
 .popup-contenedor1b h3{
 	margin: 30px 0; 
   position: relative;
   float: left;

   }
.popup-contenedor1b p{
	
   position: relative;
   float: right;
   }

.popup-contenedor1b img {
	position: relative;
	width: 50%;
	margin: 10px 0px 10px 0px;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}


/*--------------------------------Estilos de Inscripciones--------------------------------*/
    
    .inscripciones{
        
	background: #30a836;
	padding: 1% 0%;
   text-align: center;
    margin: 5% 3%;
    border-radius: 15px;
        box-shadow: 0px 3px 5px #000;
        
    }
    
    
    /*--------------------------------Estilos de Footer--------------------------------*/
.footer {
	background: #333;
	color: #fff;
	position: relative;
	float: left;
	width: 100%;
	padding: 10px;
	margin: 10px 0px 0px 0px;
	text-align: center;
}
.icon-facebook,.icon-twitter, .icon-instagram  {
	display: inline-block;
	color: #333;
	background: #fff;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
}


	.slides1 {
	width: 100%;
	height:335px;
	/*order-radius: 19px;*/
}
.slides2{
	width: 100%;
	height:335px;
	/*order-radius: 19px;*/
}

.in{
	margin: 10% 0% 2%;
}


}

