<body class="profile-page sidebar-collapse">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="page-header page-header-xs" data-parallax="true"   style="background-image: url('./assets/img/nuestra-historia/rifas.PNG');">
    <div class="filter"></div>
  </div>

  <div class="section section-dark">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h1 class="title texto">Nuestra Historia
          </h1>
        </div>
      </div>
    </div>    
  </div>

    <div class="timeline-container" id="timeline-1">
        <div class="timeline">
          <div class="timeline-item" data-text="El principio">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/Inicio2.png"/>
              <h2 class="timeline__content-title" style="color:#fff;">1965</h2>
              <p class="timeline__content-desc">Las charlas en los recreos de un grupo de estudiantes de ingeniería mecánica dieron inicio, el 8 de mayo de 1965, a la Asociación de Viaje de Estudios para Ingenieros Tecnológicos (AVEPIT), que 5 meses más tarde cambiaría a su nombre actual "AVEIT" (Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos).</p>
              <p class="timeline__content-desc">La convocatoria de socios fue realizada por este grupo de estudiantes, hablando en cada curso de la Universidad Tecnológica Nacional transmitiendo el sentido y la esencia del proyecto tal como se mantiene hasta la actualidad: realizar un viaje de estudio al finalizar el proceso académico.</p> 
            </div>
          </div>
          <div class="timeline-item" data-text="El anhelado viaje">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/grupo-XXV-y-XXVI-2.JPG" style="background: rgba(3, 0, 0, 0.2);"/>
              <h2 class="timeline__content-title" style="color:  #fff;">1966</h2>
              <p class="timeline__content-desc">Se confeccionó el estatuto social identificando derechos y obligaciones de los socios y pautas claras para el anhelado viaje: visitas técnicas, culturales y turísticas.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="La Gran Rifa AVEIT">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/PremioFiat.PNG"/>
              <h2 class="timeline__content-title"   style="color:  #fff;">1968</h2>
              <p class="timeline__content-desc">La Gran Rifa AVEIT, que sustenta a la asociación y al viaje hasta el día de hoy, surgió al tercer año con un Fiat 600 como premio mayor.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="El primer viaje">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/CYMERA.jpg"/>
              <h2 class="timeline__content-title"  style="color:  #fff;">1969</h2>
              <p class="timeline__content-desc">Se realizó el primer viaje. Dos socios dieron el indicio de que el sueño era posible.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="El gran primer viaje a Europa">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/2do-viaje.PNG"/> 
              <h2 class="timeline__content-title" style="color:  #fff;">1970</h2>
              <p class="timeline__content-desc">El 4 de marzo, llega a Europa el Grupo Viajero N°2, compuesto por 11 ingenieros (entre ellos los fundadores de la asociación) más un profesor acompañante en representación de la UTN y por primera vez en nombre de la asociación.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="Seguían los viajes">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/viaje-del-72.PNG" />
              <h2 class="timeline__content-title" style="color:  #fff;">1972</h2>
              <p class="timeline__content-desc">De ahí en adelante, ir en avión o en barco, recorrer en auto o en motorhome, viajar entre 3 o 9 meses, desde 2 hasta 62 viajeros, hospedarse en carpas, motorhome u hoteles... viajes de los más variados pero todos mágicos por dónde se vean.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="Las primeras paredes">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/Primeras-Paredes.PNG"/>
              <h2 class="timeline__content-title">1982</h2>
              <p class="timeline__content-desc">En abril de este año se levantaron las primeras paredes de la sede social. Esto dio inicio a una era de importantes cambios que se mantienen hasta la actualidad: lograr un fondo de reserva y uno de inversión, ampliación de la sede, reencuentros con Ex Viajeros, definición de condiciones académicas para poder viajar, incorporación del sistema y página de AVEIT, creación del Tribunal de Disciplina</p>
            </div>
          </div>
          <div class="timeline-item" data-text="El presente de AVEIT">
            <div class="timeline__content"><img class="timeline__img" src="../assets/img/nuestra-historia/cumpleAveit.jpeg"/>
              <h2 class="timeline__content-title">2021</h2>
              <p class="timeline__content-desc">Hoy en día cada socio cumple con un rol fundamental dentro de la asociación. Dichos roles fueron modificados con el transcurso del tiempo y las subcomisiones fueron variando a través de los años, pero la esencia sigue siendo la misma: trabajo, pasión, dedicación y vocación.</p>
            </div>
          </div>
         <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
            <div class="timeline__content"><img class="timeline__img" src="http://sanatkaravani.com/wp-content/uploads/2015/11/ataturk-4.jpg"/>
              <h2 class="timeline__content-title">1922</h2>
              <p class="timeline__content-desc">At the end of August 1922, the Turkish armieswon their ultimate victory. Within a few weeks, the Turkish mainland was completelyliberated, the armistice signed, and the rule of the Ottoman dynasty abolished</p>
            </div>
          </div>
          <div class="timeline-item" data-text="FATHER OF THE TURKS">
            <div class="timeline__content"><img class="timeline__img" src="https://turkcetarih.com/wp-content/uploads/2015/05/Atat%C3%BCrkveCumhuriyet.jpg"/>
              <h2 class="timeline__content-title">1923</h2>
              <p class="timeline__content-desc">In July 1923, the national government signed the Lausanne Treaty with Great Britain,France, Greece, Italy, and others. In mid-October, Ankara became the capital of the new Turkish State. On October 29, the Republic was proclaimed and Mustafa Kemal Pasha wasunanimously elected President of the Republic.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="FATHER OF THE TURKS">
            <div class="timeline__content"><img class="timeline__img" src="https://pbs.twimg.com/media/Cw69H8pXUAEaSqa.jpg"/>
              <h2 class="timeline__content-title">1934</h2>
              <p class="timeline__content-desc">
                The account of Atatürk's fifteen year Presidency is a saga of dramatic modernization.With indefatigable determination, he created a new political and legal system, abolished the Caliphate and made both government and education secular, gave equal rights to women,changed the alphabet and the attire, and advanced the arts and the sciences, agricultureand industry.
                In 1934, when the surname law was adopted, the national parliament gave him the name<i><strong>"Atatürk" (Father of the Turks)</strong></i>
              </p>
            </div>
          </div>
          <div class="timeline-item" data-text="FATHER OF THE TURKS">
            <div class="timeline__content"><img class="timeline__img" src="http://www.bik.gov.tr/wp-content/uploads/2016/11/20161110_2_20037273_15856882.jpg?fit=1024%2C863"/>
              <h2 class="timeline__content-title">1938</h2>
              <p class="timeline__content-desc">On November 10, 1938, following an illness of a few months, the national liberator and the Father of modern Turkey died. But his legacy to his people and to the world endures.</p>
            </div>
          </div> -->
        </div>
      </div>
     <!-- <div class="demo-footer"><a href="http://www.turkishnews.com/Ataturk/life.htm" target="_blank">Source/Kaynak</a></div> -->

    <div class="section section-dark" id="contacto">
        <div class="container">
          <h2 class="title text-center">Contacto</h2>
          <div class="row">
            <div class="col-md-3 aveit-contacto">
              <a href="https://aveit.frc.utn.edu.ar">
                <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive" alt="AVEIT">
              </a>
              <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
              <br>
              <br>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-4">
              <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M. Lopez esq. Av. Cruz Roja Argentina, Córdoba, Argentina.</h5>
              <br>
              <a href="tel:+5943512900187"><h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351 290-0187</h5></a>
              <br>
              <a href="mailto:aveitutn@gmail.com"><h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; aveitutn@gmail.com</h5></a>
              <br>
              <br>
              <br>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
          </div>
        </div>
    </div>
  
    <app-footer></app-footer>

</body>