<body class="register-page sidebar-collapse">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container" style="max-width: 800px; margin-top: 120px;">
            <div class="motto text-center">
                <h1 class="title" style="z-index: 1000;">{{ mensaje }}</h1>
                <p class="h4" style="z-index: 1000;">{{ submensaje }}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <footer class="footer register-footer ">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="credits ml-auto">
              <span style="color: white;">
                © {{ anio }}, Hecho con <i class="fa fa-heart heart" style="color:crimson;"></i> para AVEIT - <strong>Cómputos</strong>
              </span>
            </div>
          </div>
        </div>
    </footer>
</body>