@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xwr3v7');
  src:  url('fonts/icomoon.eot?xwr3v7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xwr3v7') format('truetype'),
    url('fonts/icomoon.woff?xwr3v7') format('woff'),
    url('fonts/icomoon.svg?xwr3v7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play2:before {
  content: "\23f5";
}
.icon-pause2:before {
  content: "\23f9";
}
.icon-circle-right:before {
  content: "\2771";
}
.icon-circle-left:before {
  content: "\2770";
}
