<body class="profile-page sidebar-collapse">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/nosotros/4sede.png');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content text-center">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h1 class="title">Nosotros
            <br />
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="info text-center">
            <div class="icon icon-info">
              <i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;
            </div>
            <div>
              <h3 class="info-title">Misión</h3>
              <p class="h5">Generar un espacio para promover el
                desarrollo personal y profesional de
                estudiantes e ingenieros de la Universidad
                Tecnológica Nacional Facultad Regional
                Córdoba.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-info">
              <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;
            </div>
            <div>
              <h3 class="info-title">Visión</h3>
              <p class="h5">Ser reconocida nacional e internacionalmente
                por diversas instituciones, universidades,
                ONGs y empresas como referente de
                integración, perfeccionamiento y
                potenciación de los estudiantes e ingenieros
                de nuestra universidad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br />
    </div>
  </div>
  <div class="section section-dark" #organizacion id="comisionDirectiva">
    <div class="container">
      <div class="name">
        <h2 class="title text-center">Organización interna</h2>
      </div>
      <div class="title text-center" [className]="scrolledCD ? 'title titulo' : 'title'" [hidden]="!scrolledCD">
        <h1 style="text-align: center">
          <small class="text-muted">Comisión Directiva</small>
        </h1>
      </div>
      <div class="container" [className]="scrolledCD ? 'entDer container' : 'container'" [hidden]="!scrolledCD">
        <p class="h5 description text-center">
          Nuestra Comisión Directiva
          está formada por 7 personas, entre ellas:
          Presidente, Vicepresidente, Tesorero,
          Secretario General, Secretario de Actas,
          Protesorero y Prosecretario.
        </p>
      </div>
      <div class="row" [className]="scrolledCD ? 'aparecer row' : 'row'" [hidden]="!scrolledCD">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/nievaFacu.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Facundo Nieva</h4>
                <h6 class="card-category">Presidente</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/boassoAylen.jpeg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Aylén Boasso</h4>
                <h6 class="card-category">Vicepresidente</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/pavanLeo.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Leonel Ricardo Pavan</h4>
                <h6 class="card-category">Tesorero</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" [className]="scrolledCD ? 'aparecer row' : 'row'" [hidden]="!scrolledCD">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/luqueJulian.jpeg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Julián Luque</h4>
                <h6 class="card-category">Secretario General</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/mansillaAyelen.jpeg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Ayelén Mansilla</h4>
                <h6 class="card-category">Secretario de Actas</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/obertoMatias.jpeg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Matías Oberto</h4>
                <h6 class="card-category">Protesorero</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row center" [className]="scrolledCD ? 'aparecer row' : 'row'" [hidden]="!scrolledCD">
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/autoridades/diTerlizziGuadalupe.jpeg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Dana Guadalupe Di Terlizzi</h4>
                <h6 class="card-category">Prosecretaria</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tribunal de Disciplina -->
  <div class="section" id="tribunal">
    <div class="container text-center" [className]="scrolledTribunal ? 'aparecer container' : 'container'"
      [hidden]="!scrolledTribunal">
      <div class="title text-center">
        <h1>
          <small class="text-muted">Tribunal de Disciplina</small>
        </h1>
      </div>
      <div class="col-md-6 ml-auto mr-auto" style="text-align: center">
        <img src="./assets/img/subcomisiones/subcomisiones2/tribunalddd2.png"
          class="img-rounded img-no-padding img-responsive" alt="Tribunal de disciplina" width="35%">
      </div>
      <div class="col-md-8 ml-auto mr-auto" style="text-align: center;">
        <p class="h5"><br />
          Tribunal de Disciplina es el oŕgano
          encargado de velar por el cumplimiento del
          Estatuto y Reglamento interno de la
          asociación, atendiendo casos de
          incumplimientos, felicitaciones y sanciones.
          Este se encuentra formado por 6
          miembros.
        </p>
      </div>
    </div>
  </div>

  <!-- Subcomisiones -->
  <div class="section section-dark" #organizacion id="subcomisiones" style="margin-bottom: -6%;">
    <div class="title text-center">
      <h1>
        <small class="text-muted">Subcomisiones</small>
      </h1>
    </div>
    <div class="row" [className]="scrolledSubcomisiones ? 'aparecer row' : 'row'" [hidden]="!scrolledSubcomisiones">
      <div class="col-md-8 ml-auto mr-auto" style="text-align: center;">
        <p class="h5 description">
          La mayoría de los socios activos de AVEIT
          forman parte de una de las 9 subcomisiones. Cada
          una cuenta con un Presidente y
          Vicepresidente de Subcomisión, además de
          los demás integrantes que realizan y
          participan en actividades específicas de cada
          equipo.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/computos2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Cómputos</p>
            </div>
            <div class="capa">
              <p>Es la subcomisión responsable del diseño y mantención del Sistema de AVEIT y el Sitio Web,
                así como también gestionan nuestra red informática (computadoras, acceso a internet,
                cámaras de vigilancia, etc.) y los recursos para multimedia que se utilizan en los eventos
                y reuniones.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/eventos2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Organización y Eventos</p>
            </div>
            <div class="capa">
              <p>Se encarga de la planificación y organización de eventos sociales, tanto internos con
                finalidades de integración y festejo (fiestas de socios, cumpleaños de AVEIT, olimpiadas),
                como externos tales como Maratón AVEIT y Cuna de Emprendedores.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/prensa2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Prensa<br />y Difusión</p>
            </div>
            <div class="capa">
              <p>Atienden todos los aspectos que se corresponden a la identidad de la asociación en la sociedad.
                Realizan diseño digital, producción audiovisual, fotografía, marketing (buzos, remeras, logos,
                llaveros, etc.) y la difusión de los eventos y actividades de AVEIT a través de las redes sociales.</p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/gsa2.png" style="width: 60%;">
              <p class="card-description h5" style="font-weight: bold">Gestión Social y Ambiental</p>
            </div>
            <div class="capa">
              <p>El objetivo principal de GSA es devolver a la sociedad todo lo que recibimos, colaborando
                con aquellos que más lo necesitan y cuidando el medioambiente, accionando desde nuestros
                conocimientos como futuros ingenieros. </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/rrii2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Relaciones Institucionales</p>
            </div>
            <div class="capa">
              <p>Es la cara visible de AVEIT frente a las instituciones externas a la asociación, se
                encuentra en la búsqueda permanente de nuevas relaciones con empresas y organismos que aporten
                al desarrollo de los socios de AVEIT, tratando de llevar a cabo proyectos en común logrando
                objetivos a corto, mediano y largo plazo.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/rifas2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Rifas</p>
            </div>
            <div class="capa">
              <p>Tiene como tarea principal hacer llegar a todos los socios de nuestra asociación la rifa
                lanzada todos los años, realizando las rendiciones y ayudando a solucionar cualquier tipo de
                inquietud que posean los mismos con respecto a ella.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 7%;">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/rrhh2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Recursos<br />Humanos</p>
            </div>
            <div class="capa">
              <p>Toda actividad que promueva la buena convivencia y la integración, se impulsa desde Recursos
                Humanos, se encargan de relevar los estados académicos, incorporar a los socios en las
                subcomisiones y otros proyectos que aporten al desarrollo personal.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/mantenimiento2.png" style="width: 60%">
              <p class="card-description h5" style="font-weight: bold">Mantenimiento</p>
            </div>
            <div class="capa">
              <p>Es la subcomisión encargada de las tareas que hacen al mantenimiento y
                mejoramiento de la infraestructura de la sede.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mr-auto ml-auto subc">
          <div class="card card-hover-effect card-hover-subc" style="height: 110%;">
            <div class="card-body text-center card-subcomisiones">
              <img class="card-img-top img-circle img-no-padding img-responsive>"
                src="./assets/img/subcomisiones/subcomisiones2/exViajeros2.png" style="width: 60%;">
              <p class="card-description h5" style="font-weight: bold">Exviajeros</p>
            </div>
            <div class="capa">
              <p>Como la gran mayoría quiere seguir aportando a AVEIT después de su viaje, la subcomisión de exviajeros
                se encarga de mantener el contacto y nuclear a los socios que ya completaron su camino
                por en distintas actividades</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contactus-1 section-image " id="socios"
    style="background-image: url('./assets/img/nosotros/floresgv513.JPG');">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-contact no-transition">
            <h2 class="card-title text-center">Nuestro sistema de socios</h2>
            <div class="col-md-8 ml-auto mr-auto " style="text-align: center;">
              <p class="h5">
                A lo largo de nuestra historia hemos logrado perfeccionar nuestro sistema de socios para lograr el
                funcionamiento óptimo de la asociación, sin dejar de lado el bienestar y los intereses de cada
                estudiante.</p>
            </div>
            <div class="row">
              <div class="col-md-10 ml-auto mr-auto">
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th class="text-center">Año</th>
                      <th>Tipo de socios</th>
                      <th colspan="4" class="text-center">Actividades que desarrollan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-center">1°</th>
                      <td rowspan="3">Socios pasivos</td>
                      <td rowspan="3" colspan="4">Su única obligación es cumplir con la venta de rifas que se realiza
                        una vez al año</td>
                    </tr>
                    <tr>
                      <th class="text-center">2º</th>
                    </tr>
                    <tr>
                      <th class="text-center">3º</th>
                    </tr>
                    <tr>
                      <th class="text-center">4º</th>
                      <td rowspan="2">Socios activos</td>
                      <td rowspan="3">Cumplir con la venta de rifas</td>
                      <td rowspan="3">A partir del cuarto año, cada socio es asignado a una de las ocho
                        subcomisiones de la asociación, tribunal de disciplina o comisión directiva en donde aprenderá
                        para realizar tareas específicas. En otras palabras, se pasa a ocupar
                        un rol activo en AVEIT.</td>
                    </tr>
                    <tr>
                      <th class="text-center">5º</th>
                      <td rowspan="2">Todos deben participar una vez en la organización de la Gran Rifa, esto puede ser
                        en su
                        quinto o sexto año.</td>
                    </tr>
                    <tr>
                      <th class="text-center">6º</th>
                      <td>Socios activos / Grupo cabecera</td>
                      <td>¡Formar parte del Grupo Viajero!</td>
                    </tr>
                    <tr>
                      <th colspan="6" class="text-center">¡El viaje!</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Preguntas frecuentes -->
  <div class="section" id="faqs">
    <div class="container">
      <h2><small class="text-muted">Preguntas frecuentes</small></h2>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card no-transition">
          <div class="card-header card-collapse" role="tab" id="headingOne">
            <h5 class="mb-0 panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                ¿Cuáles son las obligaciones que tenemos en nuestro paso por la Asociación?
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              Durante los primeros tres años de tu paso por AVEIT, las obligaciones se reducen a la venta de rifas
              únicamente. Después del tercer año, si lográs cumplir con las condiciones académicas establecidas y
              comenzás tu período activo en la Asociación, se agregan ciertas actividades obligatorias debido a que
              vas a empezar a relacionarte en primera persona con todo lo que implica mantener una Asociación de
              carácter jurídico: Asambleas, Reuniones de Socios Activos, la posibilidad de formar parte de Comisión
              Directiva, Tribunal de Disciplina o alguna Subcomisión; todas ellas implican obligaciones sociales que
              debemos cumplir a lo largo del año. No obstante, tenemos un estatuto interno que avala excepciones de
              estos casos y no todas nuestras actividades son de este carácter.<br>
              Recordá que somos todos estudiantes, y siempre buscamos que las obligaciones no repercutan en el avance
              académico de ningún socio.

            </div>
          </div>
          <div class="card-header card-collapse" role="tab" id="headingThree">
            <h5 class="mb-0 panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                ¿Cuáles son las demás actividades que no responden a un carácter obligatorio?
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
              Cuna de Emprendedores, Maratón, COMEIT, Asado Reencuentro, Asado de Despedida, Olimpíadas, y otros eventos
              sociales reúnen a la mayoría de los socios activos, socios pasivos, ex socios y familiares, en nuestra
              Asociación. En estos podés optar por simplemente asistir o por involucrarte de manera activa en la
              organización de cada evento, todo según tu voluntad y predisposición.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark" id="contacto">
    <div class="container">
      <h2 class="title text-center">Contacto</h2>
      <div class="row">
        <div class="col-md-3 aveit-contacto">
          <a href="https://aveit.frc.utn.edu.ar">
            <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive" alt="AVEIT">
          </a>
          <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
          <br>
          <br>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-4">
          <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M. Lopez esq. Av.
            Cruz Roja Argentina, Córdoba, Argentina.</h5>
          <br>
          <a href="tel:+5943512900187">
            <h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351 290-0187</h5>
          </a>
          <br>
          <a href="mailto:aveitutn@gmail.com">
            <h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; aveitutn@gmail.com
            </h5>
          </a>
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar"
            width="100%" height="100%" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <app-footer></app-footer>
  <!--  -->
</body>