<footer class="footer   section-dark ">
    <div class="container">
      <div class="row">
        <div class="credits ml-auto">
          <span style="color: white;">
            © {{ anio }}, Hecho con <i class="fa fa-heart heart"></i> para AVEIT - <strong>Cómputos</strong>
          </span>
        </div>
      </div>
    </div>
</footer>