.titulo {
  -webkit-animation-name: entradaTitulo; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: entradaTitulo;
  animation-duration: 3s;
}

.entDer {
  -webkit-animation-name: entradaDer; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: entradaDer;
  animation-duration: 2s;
}

.entIzq {
  -webkit-animation-name: entradaIzq; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: entradaIzq;
  animation-duration: 2s;
}

.entInf {
  -webkit-animation-name: entradaInf; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: entradaInf;
  animation-duration: 2s;
}

.desaparecer {
  -webkit-animation-name: desap; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: desap;
  animation-duration: 2s;
}

.aparecer {
  -webkit-animation-name: apar; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: apar;
  animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaTitulo {
  0%   {opacity:0;filter:alpha(opacity=00);}
  100% {opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaTitulo {
  0%   {opacity:0;filter:alpha(opacity=00);}
  100% {opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaColage {
  0%   {margin-top:-50px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-top:8px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaColage {
  0%   {margin-top:-50px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-top:8px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaIzq {
  0%   {margin-left:-80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaIzq {
  0%   {margin-left:-80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaDer {
  0%   {margin-left:80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaDer {
  0%   {margin-left:80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaInf {
  0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaInf {
  0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes desap {
  0%   {margin-top:80px;opacity:0;filter:alpha(opacity=100);}
  100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=00);}
}

/* Sintaxis comun */
@keyframes desap {
  0%   {margin-top:80px;opacity:0;background-color: transparent;}
  100% {margin-top:0px;opacity:1.0;background-color: #ffffff;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes apar {
  0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes apar {
  0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
  100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.animacionCol { // Animacion de entrada del collage de fotos
  -webkit-animation-name: entradaColage; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: entradaColage;
  animation-duration: 2s;
}

.cursor {
  cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 80%;
  height:auto;
  max-height: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  // top: 15px;
  top: 110px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      max-width: 100%;
  }
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.card.card-blog,
.card.card-testimonial .card-description+.card-title {
  margin-top: 30px;
}

.card.card-blog .card-image .img,
.card.card-testimonial .card-description+.card-title .card-image .img {
  border-radius: 12px;
}

.card.card-blog .card-image .card-title,
.card.card-testimonial .card-description+.card-title .card-image .card-title {
  text-align: center;
}

.card .card-description{
    font-weight: 480;
}

// Esto es para que en celus los textos se centren
@media only screen and (max-width: 768px){
  .texto {
      text-align: center !important;
  }
}