<body class="profile-page sidebar-collapse">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/cultura-aveit/jeroColazo75.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h1 class="title texto">Cultura AVEIT
          </h1>
        </div>
      </div>

      <div class="row" style="display:flex; align-items: center;">
          <div class="col-md-6 ml-auto mr-auto">
              <h5 class="texto">Viajes por el mundo, visitas técnicas, actividades solidarias,
                  capacitaciones y cursos; espacio de convivencia, de aprendizaje,
                  de crecimiento, de discusión; compañerismo, formación
                  profesional, desarrollo personal, vocación. Todo esto nos
                  identifica y ayuda a definir lo que somos. Somos una asociación,
                  un grupo de amigos organizados, que brinda un espacio para ser
                  uno mismo. Somos una nube de oportunidades y de emociones
                  que se materializa en cada uno de nuestros socios de manera
                  individual, única e irrepetible. Somos AVEIT. ¡Animate a ser parte
                  de esta experiencia única!
              </h5>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
              <img src="./assets/img/cultura-aveit/escudo-valores.png" style="width: 450px;" alt="Escudo de valores de AVEIT.">
          </div>
      </div>
    </div>
  </div>   
          
  <div class="blog-3">
    <div class="container"id="serSocio" [className]="scrolledSerSocio ? 'title titulo' : 'title'" [hidden]="!scrolledSerSocio">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <h2 class="title texto">Ser socio</h2>
          <br>
          <p class="h5 texto">Aunque nos encanta dejar nuestra marca en la sociedad, nuestros socios 
              siempre están bien mimados. Tenemos actividades y recursos especialmente para ellos.
          </p>
          <div class="card card-blog" data-color="blue">
            <div class="row">
              <div class="col-md-4">
                <div class="card-image">
                  <img class="img" src="./assets/img/cultura-aveit/olimpiadas" alt="Olimpiadas de ping-pong y metegol 2019." (click)="modal('olimpiadas')" id="olimpiadas">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-category text-info">Deportes</h6>
                  <h3 class="card-title">
                    Olimpiadas
                  </h3>
                  <p class="card-description h5">
                    Todos los años competimos entre nosotros poniendo en juego la reputación y el
                    honor de cada subcomisión. Nuestras olimpiadas son un clásico picante que se
                    extiende a los pasillos de la UTN.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-blog" data-color="green" style="background-color: #3edd96">
            <div class="row">
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-category text-danger">Eventos</h6>
                  <h3 class="card-title">
                    Fiestas
                  </h3>
                  <p class="card-description h5">
                    En AVEIT sabemos cómo divertirnos. Varias veces al año dejamos a un lado las
                    obligaciones y las tensiones para disfrutar de un buen rato entre música y amigos.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-image">
                    <img class="img" src="./assets/img/cultura-aveit/fiestafda.jpg" alt="Fiesta de Fin de Año 2018." (click)="modal('fiestafda')" id="fiestafda">
                </div>
              </div>
            </div>
          </div>
          <div class="card card-blog" data-color="purple">
            <div class="row">
              <div class="col-md-4">
                <div class="card-image">
                    <img class="img" src="./assets/img/cultura-aveit/misiones.jpg" alt="AVEIT visitando la represa ITAIPÚ." (click)="modal('itaipu')" id="itaipu">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-category text-success">
                    Explorar
                  </h6>
                  <h3 class="card-title">
                    Viajes de estudio anuales
                  </h3>
                  <p class="card-description h5">
                    Cada año hacemos “la previa” de nuestro gran viaje a Europa. Te invitamos a
                    viajar por el país para conocer, aprender y disfrutar.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-blog"  data-background="color" data-color="orange">
            <div class="row">
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-category text-danger">Entretenimiento</h6>
                  <h3 class="card-title">
                    Uso de los espacios de AVEIT
                  </h3>
                  <p class="card-description h5">
                    En nuestra sede ubicada dentro del predio de la Universidad Tecnológica Nacional
                    te vas a encontrar con todo lo que necesita un estudiante universitario: mesas,
                    sillas y sillones, juegos de mesa, ping pong, metegol, equipos de mate y buenos
                    compañeros.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-image">
                    <img class="img" src="./assets/img/cultura-aveit/sede.jpg" alt="Jugamos antes de comenzar una reunión." (click)="modal('sede')" id="sede">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
    <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModal()"></div>
    <img class="modal-content" id="img01" style="z-index: 102;">
    <div id="caption"></div>
  </div>
  <div class="blog-5">
    <div class="container" >
      <h2 class="title text-center">Experiencias</h2>
      <p class="h5 texto">Las reflexiones de antiguos socios sobre su paso por la asociación transmiten un sentido de pertenencia
            que identifica a todos los que forman parte de AVEIT.<br></p>
      <div class="row">
        <div class="col-md-7">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/francoOrzan4.jpeg');" (click)="modalDos('trekking')" id="trekking">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-favourite-28"></i> Emociones</h6>
                <h3 class="card-title">"Emprendés una aventura"</h3>
              <p class="card-description">
                AVEIT es una ensalada de emociones y experiencias. Nunca
                en mi vida vi un espacio donde te pueden pasar tantas cosas
                intensas y diferentes entre sí, que se conectan con muchos
                aspectos de la vida y que al final de cuentas, terminan
                dejando una marca muy importante en tu vida.<br>
                El Gran Viaje que durante años estuvo ahí lejos, casi
                inexistente, ya comienza a tomar forma. Los últimos quince
                días directamente no se puede dormir de la ansiedad. Hasta
                que llega el gran día. “¡Ya está! ¡Ya llegó el Viaje! ¡Acá comienza la aventura!”.<br>
                Después de ese momento, llegás a la parte más fuerte de la montaña rusa. Tocás el cielo con las manos.
                Emprendés una aventura y desafío con el mundo, con tus compañeros, y sobre todo, con vos mismo. La
                cabeza te va a mil por hora. </p>
              <div class="card-footer">
                <div class="author">
                    <!-- Las fotos pueden ver de conseguirse para agregarlas a cada uno -->
                    <img src="./assets/img/cultura-aveit/mugnaini.png" alt="..." class="avatar img-raised">
                    <span>Guillermo Mugnaini - GV45</span>
                </div>
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Ph: Franco Orzan.</p>
                  <footer class="blockquote-footer card-footer">AVEIT de trekking en Augstmatthorn, Suiza.</footer>
                </blockquote>
              </div>
            </div>  
          </div>
        </div>
        <div class="col-md-5">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/castillo.jpg')" (click)="modalDos('castillo')" id="castillo">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-world-2"></i> Diversidad</h6>
                <h3 class="card-title">"AVEIT son sus socios"</h3>
              <p class="card-description">
                AVEIT para mí significa oportunidad, con todo lo que esta
                palabra conlleva. Como cualquier oportunidad, están quienes
                más jugo le sacan, y quienes la dejan pasar, o la miran aún
                de reojo sin creer verdaderamente del potencial que puede
                tener en sí. Más allá de cualquier antagonismo de
                pensamientos para con AVEIT, para mí es de esas
                oportunidades que en la vida nunca, bajo ninguna
                circunstancia, hay que dejar que se vaya de nuestras manos. <br>
                AVEIT son sus socios, los de cada año, y así como complejas son las personas, complejos y súper distintos
                fueron los años que viví dentro, y esto es (aunque muchos sólo vean lo negativo) el punto más rico de la
                asociación... la diversidad.              </p>
              <div class="card-footer">
                <div class="author">
                    <img src="./assets/img/cultura-aveit/kevinBima.png" class="avatar img-raised">
                    <span>Kevin Bima - GV47</span>
                </div>
                <blockquote class="blockquote text-center">
                  <footer class="blockquote-footer card-footer">Castillo Mont-Saint-Michel. Francia</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/jeroColazo2.jpg');" (click)="modalDos('nant')" id="nant">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-hat-3"></i> Visitas técnicas</h6>
                <h3 class="card-title">"Viajamos mucho dentro del país"</h3>
              <p class="card-description">
                Yo con AVEIT fui a Yaciretá y a unas ruinas en Misiones que me
                encantaron. Después fuimos a Mendoza a ver las hélices que
                hacían, y después también a Bariloche. Viajamos mucho dentro
                del país y durante la carrera, y también servía mucho eso,
                porque no teníamos tantas visitas técnicas organizadas desde
                la facultad.              </p>
              <div class="card-footer">
                <div class="author">
                    <img src="./assets/img/cultura-aveit/nancy.png" class="avatar img-raised">
                    <span>Nancy Balsamo - GV19</span>
                </div>
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Ph: Jero Colazo.</p>
                  <footer class="blockquote-footer card-footer">Central hidroeléctrica Nant de Drance, Suiza.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/inakiMalerba5.jpg')" (click)="modalDos('inaki')" id="inaki">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-bulb-63"></i> Crecimiento</h6>
                <h3 class="card-title">"Se pueden lograr cosas increíbles"</h3>
              <p class="card-description">
                AVEIT es todo. Un espacio para crecer, como
                persona y como profesional, pero sobre todo como
                persona. Es una familia.<br>
                Muchas veces hablamos de AVEIT como si fuera algo
                sobrenatural, una persona física, un ser supremo.
                Para mí, AVEIT es la gente que lo transcurre año a
                año; son los socios los que hacen que AVEIT esté tan
                arriba como sea posible para cada uno de nosotros.
                Y el día que los socios se dan cuenta que no hay algo
                más arriba llamado AVEIT, que son ellos los que
                pueden hacer que esto sea inmenso, creo que ahí se
                pueden lograr cosas increíbles.              </p>
              <div class="card-footer">
                <div class="author">
                    <img src="./assets/img/cultura-aveit/aravena.png" alt="..." class="avatar img-raised">
                    <span>Maximiliano Aravena - GV47</span>
                </div>
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Ph: Iñaki Malerba.</p>
                  <footer class="blockquote-footer card-footer">Arthur's Seat, Edimburgo, Escocia.<cite title="Source Title"></cite></footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/fedePassera1.jpg');" (click)="modalDos('fede')" id="fede">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-trophy"></i> Equipo</h6>
                <h3 class="card-title">"Poco a poco se hace una realidad"</h3>
              <p class="card-description">
                Los que somos ex-viajeros queremos decirles a todos aquellos
                que aún no la conocen que se acerquen a la misma y vean
                cómo se trabaja entre todos en función del Grupo Viajero; al
                principio uno ve lejos las expectativas de ver el final pero poco
                a poco el mismo se hace una realidad. </p>
              <div class="card-footer">
                <div class="author">
                    <!-- <img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised"> -->
                    <span>Néstor Ubal - GV07</span>
                </div>
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Ph: Fede Passera</p>
                  <footer class="blockquote-footer card-footer">Cerro Otto, Bariloche</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/daniaBelizan2.jpg');" (click)="modalDos('motorhome')" id="motorhome">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-badge"></i> Formación</h6>
                <h3 class="card-title">"Uno tiene mundo cuando viaja"</h3>
              <p class="card-description">
                La vivencia que uno tiene al volver es única: hasta los mismos
                jefes y superiores dicen “se nota que vos tuviste mundo” y eras
                distinto al que había quedado acá; porque uno tiene mundo
                cuando viaja, porque te conectaste con otras tecnologías,
                viviste otras experiencias, tuviste el día a día algo nuevo, algo
                distinto cada día, algo que no vivís cuando estás acá.              </p>
              <div class="card-footer">
                <div class="author">
                    <img src="./assets/img/cultura-aveit/susanaRey.png" alt="..." class="avatar img-raised">
                    <span>Susana Rey y Manuel Kirichian - GV09</span>
                </div>
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Ph: Dania Belizan</p>
                  <footer class="blockquote-footer card-footer">Pompeya, Italia</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>    
        <div class="col-md-8">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/suiza1.JPG')" (click)="modalDos('suiza')" id="suiza">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-air-baloon"></i> Desafíos</h6>
                <h3 class="card-title">"Trascendental en nuestras vidas"</h3>
              <p class="card-description">
                Es una sensación de gratitud constante, que se
                expande en todo el cuerpo y se sostiene con los
                recuerdos que susurran en la memoria;
                ineludiblemente esto lo transforma en algo
                trascendental en nuestras vidas.
                Nos enseñó a crear presente y cumplir objetivos con el
                trabajo en equipo, a entender al otro, a escuchar, a ser
                incondicional, a dar lo mejor, a reflexionar y a mejorar
                constantemente. Nos enseñó a mirar hacia atrás con
                la certeza de la superación, y a mirar hacia adelante
                con la voracidad de los desafíos.
                En nuestro paso por AVEIT, viaje incluido,
                experimentamos todo, mostramos nuestras vicisitudes, defectos, limitaciones... mostramos nuestra
                fortaleza, bondades, solidaridad, vocación, grandeza... El viaje nos moldeó, nos transformó, nos enseñó
                tantísimas cosas y además nos regaló el orgullo y la felicidad de pertenecer a un grupo privilegiado
                dentro de nuestra prestigiosa Universidad Tecnológica Nacional (FRC), como es la comunidad aveitense.              </p>
              <div class="card-footer">
                <div class="author">
                    <img src="./assets/img/cultura-aveit/delBel.png" alt="..." class="avatar img-raised">
                    <span>Luis Del Bel - GV20</span>
                </div>
                <blockquote class="blockquote text-center">
                  <!-- <p class="mb-0"></p> -->
                  <footer class="blockquote-footer card-footer">Ph: Triftbrücke, Suiza.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/daniaBelizan3.JPG');" (click)="modalDos('alemania')" id="alemania">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-sun-fog-29"></i> Oportunidad</h6>
                <h3 class="card-title">“Complementa la formación profesional”</h3>
              <p class="card-description">
                Somos admirados por los países desarrollados. Si, admiración es lo que causamos cuando
                explicamos qué y cómo es AVEIT, y que brinda la oportunidad de realizar un viaje de estudio que
                complementa la formación profesional.              </p>
              <div class="card-footer">
                <div class="author">
                    <!-- <img src="./assets/img/faces/kaci-baum-2.jpg" alt="..." class="avatar img-raised"> -->
                    <span>Hugo Mancini - GV17</span>
                </div>
                <blockquote class="blockquote text-center">
                  <!-- <p class="mb-0"></p> -->
                  <footer class="blockquote-footer card-footer">Ph: Visita técnica en Brückner Group, Alemania.</footer>
                </blockquote>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-md-7">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/inakiMalerba8.jpg');" (click)="modalDos('inaki2')" id="inaki2">
            <div class="card-body">
              <h6 class="card-category">
                <i class="nc-icon nc-send"></i> Aventura</h6>
                <h3 class="card-title">"Un punto de inflexión en mi vida"</h3>
              <p class="card-description">
                Yo creo que AVEIT para mí ha sido un punto de
                inflexión en mi vida; me la cambio, no sólo porque
                haya viajado, si no que durante el viaje es como que
                te sentís en un lugar en donde estás sentado arriba y
                mirando qué ocurre abajo. La experiencia del viaje es
                maravillosa; la aventura, relacionarte con otra gente
                que no es de tu país. </p>
              <div class="card-footer">
                <div class="author">
                    <img src="./assets/img/cultura-aveit/marceloPena.png" alt="..." class="avatar img-raised">
                    <span>Marcelo Peña - GV24</span>
                </div>
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Ph: Iñaki Malerba.</p>
                  <footer class="blockquote-footer card-footer">Almorzando a un lado de la ruta en Tatra Mountains, Eslovaquia.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" data-background="image" style="background-image: url('./assets/img/cultura-aveit/jeroColazo1-min.jpg');" (click)="modalDos('motorhome2')" id="motorhome2">
            <div class="card-body">
              <h6 class="card-category"></h6>
                <h3 class="card-title"></h3>
              <p class="card-description" ></p>
              <div class="card-footer">
                <div class="author">
                    <!-- <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised"> -->
                    <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>  

    <!-- The Modal 2 -->
    <div id="myModalDos" class="modal">
      <span class="close" (click)="cerrarModalDos()">&times;</span>
      <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
      <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModalDos()"></div>
      <img class="modal-content" id="img02" style="z-index: 102;">
      <div id="caption"></div>
    </div>
    <!-- Contacto -->

  <div class="section section-dark" id="contacto">
    <div class="container">
      <h2 class="title text-center">Contacto</h2>
      <div class="row">
        <div class="col-md-3 aveit-contacto">
          <a href="https://aveit.frc.utn.edu.ar">
            <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive" alt="AVEIT">
          </a>
          <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
          <br>
          <br>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-4">
          <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M. Lopez esq. Av. Cruz Roja Argentina, Córdoba, Argentina.</h5>
          <br>
          <a href="tel:+5943512900187"><h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351 290-0187</h5></a>
          <br>
          <a href="mailto:aveitutn@gmail.com"><h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; aveitutn@gmail.com</h5></a>
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </div>  
    <!-- footer -->
    <app-footer></app-footer>
    <!--  -->
</body>
