<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://aveit.frc.utn.edu.ar" rel="tooltip" title="AVEIT" data-placement="bottom" style="padding-top: 7px; padding-bottom: 7px;">
          <img class="logo-img" src="./assets/img/escudo_aveit.png">
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a href="https://aveit.frc.utn.edu.ar" class="nav-link">Inicio</a> -->
            <a [routerLink]="['/']" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Nosotros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/que-es-aveit']">¿Qué es AVEIT?</a>
              <a class="dropdown-item" [routerLink]="['/nosotros']">Organización Interna</a>
              <a class="dropdown-item" [routerLink]="['/historia']">Nuestra Historia</a>
            </div>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/rifa']" class="nav-link">Gran Rifa</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/viaje']" class="nav-link">El viaje</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cultura-aveit']" class="nav-link">Cultura AVEIT</a>
          </li>
          <!-- <li class="nav-item">
            <a (click)="scroll('contacto')" class="nav-link js-scroll-trigger">Contacto</a>
          </li> -->
          <li class="nav-item">
            <a href="./panel/sys/#/login" class="nav-link"><!--<i class="nc-icon nc-minimal-right"></i> -->Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://www.twitter.com/aveit_utn" target="_blank">
              <i class="fa fa-twitter"></i>
              <p class="d-lg-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/aveit.frc.utn.edu.ar" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/aveit_utn" target="_blank">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>