<body class="profile-page sidebar-collapse">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/rifa/Fondo-rifa1.png');">
        <div class="filter"></div>
    </div>
    <div class="section">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h1 class="title texto">Gran Rifa AVEIT
                    </h1>
                </div>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-sm-12 col-md-4 ml-auto mr-auto" style="display: flex; justify-content: center;">
                    <img src="./assets/img/rifa/rifas.jpg" class="img-rounded img-responsive"
                        style="max-width:350px; margin: 10%;" alt="Revista Gran Rifa 2019" (click)="modal('rifas')"
                        id="rifas">
                </div>
                <div class="col-sm-12 col-md-8 ml-auto mr-auto"
                    style="display: flex; flex-direction: column; justify-content: space-around;">
                    <p class="h5 text-letf texto">El principal soporte de la asociación es la "Gran Rifa AVEIT", gracias
                        a este método de recaudación de
                        fondos hemos estado lanzando ingenieros al mundo por más de 50 años.<br>
                        El crecimiento de la Gran Rifa ha ido de la mano con el de nuestra asociación. Hoy en día,
                        podemos decir orgullosos
                        que en los sorteos es posible ganar importantes premios como autos 0km y viajes al exterior.</p>
                    <br>
                    <img src="./assets/img/rifa/premio7.png" class="img-rounded img-responsive"
                        style="max-width: 500px;" alt="Entrega de auto como segundo premio rifa número 7"
                        (click)="modal('auto7')" id="auto7">
                </div>
            </div>
        </div>
    </div>

    <div class="parallax" style="background-image: url('./assets/img/rifa/ignaMena3.JPG');"></div>

    <div class="section section-dark">
        <div class="container">
            <h2 class="title texto">Cómo funciona</h2>
            <div class="row align-items-center">
                <div class="col-md-6 ml-auto mr-auto">
                    <p class="h5 description texto">
                        Cada año, todos los socios de AVEIT nos
                        comprometemos a vender la cantidad de rifas que
                        nos asignen. Los fondos recaudados son rendidos
                        en la asociación y se utilizan para posibilitar el
                        gran viaje de nuestros socios. Los sorteos se
                        realizan a través de Lotería de Córdoba, quien
                        publica los ganadores a lo largo del año.<br>
                        La dedicación, el esfuerzo y la suerte son
                        elementos que se conjugan en la Gran Rifa y
                        forman parte de la historia de nuestra asociación.
                        Desde AVEIT agradecemos a quienes nos han
                        acompañado durante todos estos años, ayudando a
                        miles de estudiantes a vivir el gran viaje de sus
                        sueños.</p>
                </div>
                <div class="col-md-3 ml-auto mr-auto" style="display: flex; justify-content: center;">
                    <img src="./assets/img/rifa/premios2.jpeg" class="img-rounded img-responsive"
                        style="width:350px; margin: 10%;" alt="Entrega de premio 2019" (click)="modal('premio1')"
                        id="premio1">
                </div>
                <div class="col-md-3 ml-auto mr-auto" style="display: flex; justify-content: center;">
                    <img src="./assets/img/rifa/premios1.jpeg" class="img-rounded img-responsive"
                        style="width:250px;  margin: 10%;" alt="Entrega de premio 2019" (click)="modal('premio2')"
                        id="premio2">
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding: 10px; background-color: #121c2a;">
        <div class="container">
            <div class="row" style="margin: 5%;">
                <div class="col-sm-12 col-md-8 mr-auto ml-auto">
                    <a title="Municipalidad de Córdoba" target="_blank" href="https://cadadiamejor.com.ar/bienvenida/index.php?link=https://cadadiamejor.com.ar/?utm_source=medios-digitales&utm_medium=website-medios&utm_campaign=cada-dia-mejor&utm_term=introduccion&utm_content=banner">
                        <img src="./assets/img/rifa/publis/gifmuni.gif" width="100%" height="100%"
                        class="rounded mx-auto d-block">
                    </a>

                </div>
                <!-- <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/hor2.jpg" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div>
                <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/hor3.JPG" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div>
                <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/hor4.jpg" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div> -->
            </div>
        </div>
    </div>  
    <div class="section section-image" style="background-image: url('./assets/img/rifa/lucaGuazzaroni.jpg');">
        <div class="container">
            <div class="row" style="display: flex; align-items: center; justify-content: space-around">
                <div class="col-md-5 ml-auto mr-auto"
                    style="display: flex; align-items:center; justify-content: center;">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="./assets/img/rifa/sorteo-estimulo-2022.jpeg"
                                    alt="Premios Sorteo Estímulo 2021">
                            </div>
                             <div class="carousel-item "> -->
                                <img class="d-block w-100" src="./assets/img/rifa/primer-sorteo.png"
                                    alt="Premios 1er Sorteo 2022">
                            </div> -->
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./assets/img/rifa/Segundo-Sorteo-solopremios.png"
                                    alt="Premios 2do Sorteo 2022">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./assets/img/rifa/tercer-sorteo.png"
                                    alt="Premios 3er Sorteo 2022">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./assets/img/rifa/cuarto-sorteo-nombrespremios.png"
                                    alt="Premios 4to Sorteo 2022">
                            </div> 
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 ml-auto mr-auto"
                    style="display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="card" data-background="color"
                        style=" background-color: rgba(0, 0, 0, 0); max-width: 30rem; align-self: auto;">
                        <div class="card-body">
                            <h2 class="card-title text-right texto">Los sorteos</h2>
                            <p class="h5 text-right" style="font-weight: bolder">Nuestra Gran Rifa AVEIT es lanzada en
                                junio, consiste en
                                cuatro sorteos de quince premios cada uno más un sorteo de diez premios (conocido como
                                "Sorteo Estímulo")
                                para aquellas boletas abonadas de contado. Estos comienzan en agosto, siendo primero el
                                Sorteo Estímulo,
                                y luego mes a mes los cuatro sorteos restantes.</p>
                        </div>
                        <img class="card-img-bottom" src="./assets/img/inicio/autoPremio.png"
                            alt="Ganadores del 1er Premio Sorteo de Agosto, 2019" (click)="modal('auto')" id="auto">
                    </div>
                </div>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-sm-12 col-md-4 ml-auto mr-auto"
                    style="display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="title text-left h2">Mirá los ganadores
                    </div>
                    <p class="h5 text-letf" style="font-weight: bolder; color:white">Los siguientes son los números
                        ganadores del segundo sorteo del 12 de Octubre de 2022. Estos corresponden al sorteo número 5102 de
                        <a href="https://www.loteriadecordoba.com.ar/juegos/loteria-de-cordoba?sorteo=5102"
                            target="_blank">Lotería de Córdoba</a>.
                    </p>
                    <br>
                </div>
                <div class="col-sm-12 col-md-6 ml-auto mr-auto" style="display: flex; justify-content: center;">
                    <img src="./assets/img/rifa/tercer-sorteo.png" class="img-rounded img-responsive"
                        style="max-width:350px; margin: 10%;" alt="Números ganadores Tercer Sorteo 2022"
                        (click)="modal('estimulo')" id="estimulo">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section section-image" style="background-image: url('./assets/img/rifa/bruselasMuseo.jpg');">
        <div class="container"> -->

    <!-- </div>
    </div> -->
    <div class="section-dark" style="padding: 10px;">
        <div class="container">
            <!-- <div class="row" style="margin: 0%;">
                <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/vert1.jpg" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div>
                <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/vert2.jpg" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div>
                <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/vert3.jpg" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div>
                <div class="col-sm-4 col-md-3 mr-auto ml-auto">
                    <img src="./assets/img/rifa/publis/vert4.jpg" width="100%" height="100%"
                        class="rounded mx-auto d-block ">
                </div>
            </div> -->
        </div>
    </div>
    <!-- Preguntas frecuentes -->
    <div class="section" id="faqs">
        <div class="container">
            <h2><small class="text-muted">Preguntas frecuentes</small></h2>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card no-transition">
                    <div class="card-header card-collapse" role="tab" id="headingOne">
                        <h5 class="mb-0 panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                ¿Cómo se organiza?
                                <i class="nc-icon nc-minimal-down"></i>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            La organización de la rifa y su lanzamiento son mera responsabilidad de la Comisión Rifaria
                            que ese año se establezca. Normalmente esta Comisión se compone por los socios del Grupo
                            Cabecera,
                            llamados así quienes transitan su último año de venta de rifas, y se organizan en bloques
                            para abarcar todas las actividades que implica la Rifa misma.
                            Contacto con Lotería, Premios, Publicidades, Revista, todo esto a grandes rasgos es en lo
                            que se enfoca Comisión Rifaria para que la idea de la rifa se haga realidad, lanzándose año
                            tras año.
                        </div>
                    </div>

                    <div class="card-header card-collapse" role="tab" id="headingTwo">
                        <h5 class="mb-0 panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseThree">
                                ¿Qué tengo que hacer para participar?
                                <i class="nc-icon nc-minimal-down"></i>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            Si lograste entrar como socio a AVEIT, participar es muy fácil: vendiendo las rifas
                            correspondientes a tu año!
                            Y si además te gustaría participar de la organización, seguramente puedas sumarte a algún
                            bloque para el año siguiente,
                            pero esta participación no te dejará exento de hacerlo nuevamente cuando llegues a Grupo
                            Cabecera.
                        </div>
                    </div>

                    <div class="card-header card-collapse" role="tab" id="headingThree">
                        <h5 class="mb-0 panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                aria-expanded="false" aria-controls="collapseOne">
                                ¿Qué pasa si no alcanzo a vender todos los números que me asignaron?
                                <i class="nc-icon nc-minimal-down"></i>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                            Recomendamos siempre que den aviso a la Asociación, y procedan a devolver las boletas
                            correspondientes. No vender el 100% de las rifas asignadas implica que no puedas avanzar de
                            año dentro de AVEIT, y por tanto se te toma como socio inactivo por ese período.
                            He aquí una observación: por estatuto se permite permanecer como socio inactivo durante 1
                            año, sólo en 2 ocasiones, una siendo socio pasivo y otra siendo socio activo. En esta
                            condición no tenés ninguna responsabilidad durante ese año para con AVEIT.
                            La inactividad puede darse entonces por no vender la totalidad de las rifas, o por pedido
                            expreso de tu parte hacia las autoridades correspondientes.

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
        <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModal()"></div>
        <img class="modal-content" id="img01" style="z-index: 102;">
        <div id="caption"></div>
    </div>

    <div class="section section-dark" id="contacto">
        <div class="container">
            <h2 class="title text-center">Contacto</h2>
            <div class="row">
                <div class="col-md-3 aveit-contacto">
                    <a href="https://aveit.frc.utn.edu.ar">
                        <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive"
                            alt="AVEIT">
                    </a>
                    <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
                    <br>
                    <br>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-4">
                    <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M.
                        Lopez esq. Av. Cruz Roja Argentina, Córdoba, Argentina.</h5>
                    <br>
                    <a href="tel:+5943512900187">
                        <h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351
                            290-0187</h5>
                    </a>
                    <br>
                    <a href="mailto:aveitutn@gmail.com">
                        <h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;
                            aveitutn@gmail.com</h5>
                    </a>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-3">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar"
                        width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
    <!--  -->
</body>
