.titulo {
    -webkit-animation-name: entradaTitulo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: entradaTitulo;
    animation-duration: 3s;
}

.entDer {
    -webkit-animation-name: entradaDer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: entradaDer;
    animation-duration: 2s;
}

.entIzq {
    -webkit-animation-name: entradaIzq; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: entradaIzq;
    animation-duration: 2s;
}

.entInf {
    -webkit-animation-name: entradaInf; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: entradaInf;
    animation-duration: 2s;
}

.desaparecer {
    -webkit-animation-name: desap; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: desap;
    animation-duration: 2s;
}

.aparecer {
    -webkit-animation-name: apar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: apar;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaTitulo {
    0%   {opacity:0;filter:alpha(opacity=00);}
    100% {opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaTitulo {
    0%   {opacity:0;filter:alpha(opacity=00);}
    100% {opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaColage {
    0%   {margin-top:-50px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:8px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaColage {
    0%   {margin-top:-50px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:8px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaIzq {
    0%   {margin-left:-80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaIzq {
    0%   {margin-left:-80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaDer {
    0%   {margin-left:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaDer {
    0%   {margin-left:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-left:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaInf {
    0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes entradaInf {
    0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes desap {
    0%   {margin-top:80px;opacity:0;filter:alpha(opacity=100);}
    100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=00);}
}

/* Sintaxis comun */
@keyframes desap {
    0%   {margin-top:80px;opacity:0;background-color: transparent;}
    100% {margin-top:0px;opacity:1.0;background-color: #ffffff;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes apar {
    0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}

/* Sintaxis comun */
@keyframes apar {
    0%   {margin-top:80px;opacity:0;filter:alpha(opacity=00);}
    100% {margin-top:0px;opacity:1.0;filter:alpha(opacity=100);}
}


.cursor {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 700px;
    height: auto;
    max-height: 600px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    // top: 15px;
    top: 110px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .texto {
        text-align: center !important;
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}