<body class="landing-page sidebar-collapse">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- End Navbar -->



  <!-- Header para campaña de socios, insertar link de preinscripcion y video -->
  <!-- <div class="page-carousel" data-parallax="true" >
    <div class="filter"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="page-header"  style="background-image:url('./assets/img/fondo-inicio.jpg');">
            <div class="filter"></div>
            <div class="content-center" style="z-index: 10;">
              <div class="container">
                <div class="row" style="display: flex; align-items: center;">
                  <div class="col-xs-12 col-sm-12 col-md-5 mr-auto ml-auto" style="display: flex; justify-content: center;">
                    <div class="iframe-container" >
                      <iframe  class="video" src="https://www.youtube.com/embed/pfJFAg59G9w" frameborder="0" allowfullscreen="" height="236"></iframe>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 ml-auto mr-auto texto" style="position: relative; top: -18px;">
                    <h2 class="title" style="font-weight: 300;">Sumate</h2>
                    <h5 class="description" style="color: #FFF">Estás a un paso de ser parte de AVEIT.<br>
                      ¡Viví esta experiencia única!
                    </h5>
                    <br>
                    <div class="buttons">
                      <a [routerLink]="['/preinscripcion']" class="btn btn-primary btn-round  btn-lg">
                        <i class="nc-icon nc-single-copy-04" aria-hidden="true"></i> ¡Preinscribite ya!
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/hannover.jpg');">
            <div class="filter"></div>
            <div class="container">
              <div class="motto text-center">
                <br>
                <h1>{{ anio-1965 }} Años lanzando ingenieros al mundo</h1>
                <br>
                <br>
                <br>
                 <a (click)="scroll(aveit)" class="btn btn-outline-neutral btn-round js-scroll-trigger">Conocenos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Header para cuando se van haciendo los sorteos-->
  <div class="page-carousel" data-parallax="true">
    <div class="filter"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <!-- CAROUSEL ITEM RIFA -->
        <div class="carousel-item active">
          <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/inicio/jero28.jpg'); flex-direction: column; display: flex;">
            <div class="filter"></div>
            <div class="container">
              <div class="motto text-center">
                <br>
                <h1 style="padding-top: 30%;">¡Conocé los ganadores de cada sorteo!</h1>
                <br>
                <br>
                <br>
                <div class="buttons">
                  <a [routerLink]="['/rifa']" class="btn btn-primary btn-round  btn-lg">
                    <i class="nc-icon nc-single-copy-04" aria-hidden="true"></i> Ver resultados
                  </a>
                </div>
                <br>
                <br>
                <br>
                <div class="row" style="padding-top: 20%;">
                  <div class="col-md-12">
                    <img src="./assets/img/inicio/muni.jpg" alt="Rifa" style="width: 30%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!--CAROUSEL ITEM PRE CAMPAÑA -->
        <div class="carousel-item">
          <div class="page-header" style="background-image:url('./assets/img/fondo-inicio.jpg');">
            <div class="filter"></div>
            <div class="content-center" style="z-index: 10;">
              <div class="container">
                <div class="motto text-center">
                  <h1 style="margin: 2%;">Sumate a esta experiencia inolvidable</h1>
                  <h3 style="color: #FFF;">¡Campaña de socios se acerca!
                    <br> En junio vamos a estar recibiendo nuevos socios, ¡No te quedes afuera!
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- CAROUSEL ITEM PRINCIPAL -->
        <div class="carousel-item">
          <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/hannover.jpg');">
            <div class="filter"></div>
            <div class="container">
              <div class="motto text-center">
                <h1 style="margin: 5%;">{{ anio-1965 }} Años lanzando ingenieros al mundo</h1>
                <br>
                <a (click)="scroll(aveit)" class="btn btn-outline-neutral btn-round js-scroll-trigger">Conocenos</a>
              </div>
            </div>
          </div>
        </div>

        <!-- CAROUESEL ITEM MARATON -->
        <!-- <div class="carousel-item active">
          <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/inicio/fondo-pag-web-maraton-01.png');">
            <div class="filter"></div>
            <div class="container">
              <div class="motto text-center">
                <br>
                <h1>Maratón AVEIT 2022 </h1> <h3>23 de Octubre, Parque Sarmiento, Cba - Arg.</h3>
                <br>
                <br>
                <br>
                <div class="buttons">
                <a href=" /maraton" (click)="scroll(aveit)" class="btn btn-outline-neutral btn-round js-scroll-trigger">¡Mirá los resultados!</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- CAROUSEL ITEM CUNA DE EMPRENDEDORES-->
        <!-- <div class="carousel-item">
          <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/inicio/cuna-fondo.png');">
            <div class="filter"></div>
            <div class="container">
              <div class="motto text-center">
                <br>
                <h1>Cuna de Emprendedores</h1> <h3>24 de Sept, UTN - FRC</h3>
                <br>
                <br>
                <br>
                <div class="buttons">
                  <a href="/cuna-de-emprendedores" (click)="scroll(aveit)" class="btn btn-outline-neutral btn-round js-scroll-trigger">Inscribite a esta nueva edición</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>

  <div class="main">
    <div class="section" id="que-es" #aveit>
      <div class="container">
        <div class="row" style="display:flex; align-items: center;">
          <div class="col-md-6 text-left texto">
            <h1 class="title">¿Qué es AVEIT?</h1>
            <h5>Somos una asociación sin fines de lucro conformada por estudiantes de la Universidad Tecnológica
              Nacional Facultad Regional Córdoba.
              Buscamos enriquecer el trayecto universitario de los socios realizando actividades de impacto social,
              formación y recreación.<br>
              ¡Animate a ser parte de esta experiencia única!
            </h5>
            <br>
            <div class="buttons">
              <a href="/que-es-aveit" class="btn btn-info btn-round  btn-lg">
                <i class="nc-icon nc-world-2" aria-hidden="true"></i> Saber más
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="./assets/img/inicio/colage.jpg" class="img-rounded img-responsive" alt="Colage viaje"
              style="margin: auto;">
          </div>
        </div>
      </div>
    </div>

    <div class="parallax" style="background-image: url('./assets/img/inicio/inakiMalerba21.png');"></div>

    <div class="section section-dark" id="nuestra-historia">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="display: flex; justify-content: center;">
            <iframe height="235" width="420" style="margin: 5%; border-radius: 5px;"
              src="https://www.youtube.com/embed/tt9dFooL_6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="col-md-6 text-letf texto">
            <h2 class="title">Nuestra Historia</h2>
            <p class="h5 description">Un buen vistazo a nuestro pasado, la experiencia adquirida por los años recorridos
              sostienen a nuestra asociación
              en continuo crecimiento.
            </p>
            <br>
            <div class="buttons">
              <a href="/historia" class="btn btn-primary btn-round  btn-lg">
                <i class="nc-icon nc-alert-circle-i" aria-hidden="true"></i> Más Info
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax" style="background-image: url('./assets/img/inicio/FrancoOrzan3.jpeg');"></div>

    <div class="section" id="el-viaje">
      <div class="container">
        <div class="row" style="display: flex">
          <div class="col-md-6">
            <h2 class="title texto">El Viaje</h2>
            <p class="h5 texto">Cada año, desde 1969, realizamos un viaje técnico cultural por Europa. Para nosotros
              significa la culminación de todo un proceso de aprendizaje no solamente profesional, sino también
              humano y personal gracias a AVEIT. Durante nuestra estadía en el viejo continente visitamos decenas
              de países y organizaciones, nutriéndonos de su cultura de trabajo y de su historia.</p>
          </div>
          <div class="col-md-6" style="display: flex; justify-content:center; align-items: center">
            <div class="card" data-background="image"
              style=" background-image: url('./assets/img/inicio/daniaBelizan8.jpg')" id="motorhome2">
              <div class="card-body">
                <!-- <h6 class="card-category">Recorrer</h6> -->
                <div class="card-icon">
                  <i class="nc-icon nc-world-2"></i>
                </div>
                <p class="card-description" style="font-weight: bolder;">Te invitamos a conocer más sobre los lugares
                  que hemos recorrido y las travesías de nuestros viajeros.</p>
                <div class="card-footer">
                  <div class="buttons">
                    <a href="/viaje" class="btn btn-success btn-round">
                      <i class="fa fa-plane" aria-hidden="true"></i> Ver más
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax" style="background-image: url('./assets/img/inicio/inakiMalerba102.png');"></div>

    <div class="section section-dark" id="gran-rifa">
      <div class="container">
        <div class="row" style="display: flex; align-items: center;">
          <div class="col-sm-6 col-md-6 col-lg-4 ml-auto mr-auto" style="display: flex; justify-content: center;">
            <img src="./assets/img/inicio/autoPremio.png" class="img-rounded img-responsive"
              style="height: auto; margin: 5%; max-height: 300px" alt="Ganador de 1er Premio del Sorteo de Agosto, 2019"
              (click)="modal('auto')" id="auto">
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 ml-auto mr-auto" style="display: flex; justify-content: center;">
            <img src="./assets/img/inicio/toniWins.jpeg" class="img-rounded img-responsive"
              style="width: auto; height: auto; max-height: 300px; margin: 5%;"
              alt="Ganador 9no Premio del Sorteo de Octubre, 2019." (click)="modal('toni')" id="toni">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-5 text-left texto">
            <h2 class="title">Gran Rifa AVEIT</h2>
            <p class="h5 description">Lo anterior no sería posible sin la existencia del soporte principal de la
              asociación como es la Gran Rifa AVEIT. Gracias a este método de recaudación de fondos hemos estado
              lanzando ingenieros al mundo por más de 50 años.<br>
              Hoy en día, podemos decir orgullosos que en los sorteos es posible ganar importantes premios
              como autos 0km y viajes al exterior.
            </p>
            <br>
            <div class="buttons">
              <a href="/rifa" class="btn btn-info btn-round">
                <i class="nc-icon nc-trophy" aria-hidden="true"></i> Ver más
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="features-2 section-image" style="background-image: url('./assets/img/inicio/francoOrzan9.jpeg');">
      <div class="container">
        <div class="row" style="display: flex; align-items: center;">
          <div class="col-sm-12 col-md-12 col-lg-6 text-left text-center">
            <div class="card card-just-text">
              <div class="card-body">
                <h2 class="card-title">Cultura AVEIT</h2>
                <br>
                <p class="h5">Viajes por el mundo, visitas técnicas, actividades solidarias, capacitaciones y cursos;
                  espacio de
                  convivencia, de aprendizaje, de crecimiento, de discusión; compañerismo, formación profesional,
                  desarrollo personal, vocación. Todo esto nos identifica y ayuda a definir lo que somos. Somos una
                  asociación, un grupo de amigos organizados, que brinda un espacio para ser uno mismo. Somos una nube
                  de oportunidades y de emociones que se materializa en cada uno de nuestros socios de manera
                  individual,
                  única e irrepetible. Somos AVEIT. <br>¡Animate a ser parte de esta experiencia única!</p>
                <!-- <button type="button" class="btn btn-info btn-round">Ver más</button> -->
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 ml-auto mr-auto"
            style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
            <div class="card" style="width:350px; height:158px; background-image: url('./assets/img/inicio/jeroColazo14.png'); background-position: center center;
             background-size: cover;" (click)="modalDos('jero14')" id="jero14">
              <div class="card-body">
              </div>
            </div>
            <div class="card card-otra" style="width:350px; height:258px; background-image: url('./assets/img/inicio/mh2.png');background-size: cover;
              text-align: center;" id="mh2">
              <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <div class="card-icon">
                  <i class="nc-icon nc-air-baloon"></i>
                </div>
                <p class="card-description"></p>
                <div class="card-footer">
                  <div class="buttons">
                    <a href="/cultura-aveit" class="btn btn-danger btn-round">
                      Ver más
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" style="width:350px; height:158px; background-image: url('./assets/img/inicio/jeroColazo13.png');  background-position: center center;
                background-size: cover;" (click)="modalDos('jero13')" id="jero13">
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
      <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModal()"></div>
      <img class="modal-content" id="img01" style="z-index: 102;">
      <div id="caption"></div>
    </div>

    <!-- The Modal 2 -->
    <div id="myModalDos" class="modal">
      <span class="close" (click)="cerrarModalDos()">&times;</span>
      <!-- Div para que, al hacer click sobre el, se cierre el modal igual -->
      <div style="width: 100%; height: 100%; z-index: 101; position: fixed; top: 90px;" (click)="cerrarModalDos()">
      </div>
      <img class="modal-content" id="img02" style="z-index: 102;">
      <div id="caption"></div>
    </div>

    <!-- Contacto -->

    <div class="section section-dark" id="contacto">
      <div class="container">
        <h2 class="title text-center">Contacto</h2>
        <div class="row">
          <div class="col-md-3 aveit-contacto">
            <a href="https://aveit.frc.utn.edu.ar">
              <img src="./assets/img/subcomisiones/AVEIT.png" class="img-no-padding img-responsive" alt="AVEIT">
            </a>
            <h5 class="title">Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos</h5>
            <br>
            <br>
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-4">
            <h5 class="description"><i class="fa fa-map-pin" aria-hidden="true"></i>&nbsp;&nbsp; Maestro M. Lopez esq.
              Av. Cruz Roja Argentina, Córdoba, Argentina.</h5>
            <br>
            <a href="tel:+5943512900187">
              <h5 class="description"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +549 351 290-0187</h5>
            </a>
            <br>
            <a href="mailto:aveitutn@gmail.com">
              <h5 class="description"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; aveitutn@gmail.com
              </h5>
            </a>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-3">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.80495754307!2d-64.1941057!3d-31.4430093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6678f026e2ab5885!2sAsociaci%C3%B3n%20Vocacional%20de%20Estudiantes%20e%20Ingenieros%20Tecnol%C3%B3gicos%20(A.V.E.I.T.)!5e0!3m2!1ses-419!2sar!4v1606448450541!5m2!1ses-419!2sar"
              width="100%" height="100%" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</body>