.media {
    margin-left: 10px;
    margin-right: 12px;
}

//Card con imagen de fondo pero sin opacidad
.card .card-otra {
    background-position: center center;
    background-size: cover;
    text-align: center;
  }
  
  .card .card-otra .card-body {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
  }
  
  .card .card-otra .card-title {
    color: #FFF;
    margin-top: 10px;
  }
  
  .card .card-otra:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 12px;
  }
  
  .card .card-otra .card-category {
    color: #FFFFFF;
  }
  
  .card .card-otra .image-2{
    border-radius: 6px;
  }
  
  .card .card-otra .filter{
    border-radius: 6px;
  }
  
  .card .card-otra .card-description {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card .card-otra .card-title,
  .card .card-otra .card-category,
  .card .card-otra .card-text,
  .card .card-otra .card-body,
  .card .card-otra .card-footer,
  .card .card-otra .stats,
  .card .card-otra small,
  .card .card-otra [class*="text-"],
  .card .card-otra ul li b,
  .card .card-otra a:not(.btn){
    color: #FFFFFF !important;
  }
  
  .card .card-otra a:not(.btn):hover,
  .card .card-otra a:not(.btn):focus{
    color: #FFFFFF;
  }
  
  .card .card-icon i {
    color: #FFFFFF !important;
    border: 2px solid rgb(255, 255, 255) !important;
  }
  
  .card .card-otra.card-with-border:after{
    border: 1px solid rgba(255, 255, 255, 0.45);
  }
  
  .card .card-otra .filter {
    opacity: 0.55;
    filter: alpha(opacity=55);
  }
  
  .card .card-otra:hover .filter {
    opacity: 0.75;
    filter: alpha(opacity=75);
  }

  .video {
    width: 420;
  }
  @media only screen and (max-width: 420px){
    .video {
      width: auto !important;
      max-width: 420;
    }
  }  

  // Esto es para que en celus los textos se centren
  @media only screen and (max-width: 768px){
    .texto {
      text-align: center !important;
    }
  }  


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 80%;
  height:auto;
  max-height: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  // top: 15px;
  top: 110px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      max-width: 100%;
  }
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

