<body class="register-page sidebar-collapse">
    <div [hidden]="!permitirAcceso">
        <!-- Navbar -->
        <app-navbar></app-navbar>
        <!-- End Navbar -->
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> <!-- Spinner de loading -->
        <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
            <div class="filter"></div>
            <div class="container" style="max-width: 800px; margin-top: 120px;">
                <div class="motto text-center">
                    <div id="titulo">
                        <h1 class="title" style="z-index: 1000;">Bienvenidos a AVEIT</h1>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div id="mensajeExito">
                        <div *ngIf="exito">
                            <p class="h3">Te hemos enviado un e-mail a "{{ emailAcad }}" para verificar que sos estudiante de ingeniería de la UTN FRC</p>
                            <br>
                            <p class="h5">Una vez verificado, pasarás a estar preinscripto.</p>
                            <p class="h6">
                                <strong>Si no recibís el e-mail de verificación, es posible que tu bandeja de entrada se encuentre llena y deberás borrar algunos correos.</strong>
                            </p>
                            <p class="h5">Ante cualquier duda o consulta comunicate con nosotros por WhatsApp al siguiente número de celular: <strong><a href="https://wa.me/5493512900187" target="_blank"><u>351-2900187</u></a></strong></p>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div id="informacion">
                        <div *ngIf="entradaInfo">
                            <!-- <div class="col-lg-4 ml-auto mr-auto"> -->
                            <div class="card" style="transform: none;">
                                    <div class="card-body">
                                        <h3 class="title mx-auto" style="color: black;font-weight: 400;">¡Leer atentamente!</h3>
                                        <div class="row">
                                            <div class="col-lg-12 ml-auto mr-auto" style="color:black; text-align: justify;">
                                                <p>
                                                    Al confirmar que has leído se te presentará un formulario de solicitud de preinscripción donde deberás ingresar 
                                                    datos personales y de contacto, entre ellos:
                                                </p>
                                                <ul>
                                                    <li><strong>E-mail personal:</strong> es la dirección de correo que utilizaremos como contacto principal, así que asegurate de que 
                                                        sea la que revisás habitualmente. Es requisito que sea de Gmail.
                                                    </li>
                                                    <li><strong>E-mail Académico:</strong> una vez que completes el formulario de preinscripción, verificaremos que sos estudiante de ingeniería de 
                                                        la UTN FRC mediante un único correo a tu e-mail académico. El remitente del e-mail será "sistema.aveit@gmail.com".
                                                    </li>
                                                </ul>
                                                <p>
                                                    Una vez que verifiques tu e-mail, pasarás a estar preinscripto <i class="far fa-grin-beam"></i>
                                                </p>
                                                <br>
                                                <p class="h6">
                                                    <strong>Si no recibís el e-mail de verificación, es posible que tu bandeja de entrada se encuentre llena y deberás borrar algunos correos.</strong>
                                                </p>
                                                <br>
                                                <p class="h5">
                                                    <strong>Ante cualquier duda o consulta comunicate con nosotros por WhatsApp al siguiente número de celular: <a href="https://wa.me/5493512900187" target="_blank"><span class="text-danger"><u>351-2900187</u></span></a></strong>
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 ml-auto mr-auto">
                                                <button class="btn btn-danger btn-block btn-round" (click)="heLeido()">He leído completamente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div id="formulario">
                        <div *ngIf="entradaForm">
                            <div class="card" style="background-color:#ff9e74; transform: none;">
                                <div class="card-body">
                                    <h3 class="title mx-auto" style="font-weight: 400;">Formulario de preinscripción</h3>
                                    <form class="register-form" [formGroup]="formPreinsc">
                                        <div class="row">
                                            <div class="col-lg-6 ml-auto mr-auto">
                                                <p class="h5 text-white" style="font-weight: 400;">Datos personales</p>
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" placeholder="Nombres" formControlName="nombre">
                                                
                                                <label>Apellido</label>
                                                <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">

                                                <div class="row">
                                                    <div class="col-lg-6 ml-auto mr-auto">
                                                        <label>Legajo</label>
                                                        <input type="text" class="form-control" placeholder="Legajo" formControlName="legajo">
                                                    </div>
                                                    <div class="col-lg-6 ml-auto mr-auto">
                                                        <label>Ingeniería</label>
                                                        <select class="form-control" formControlName="codEspecialidad">
                                                            <option disabled selected value> -- Especialidad -- </option>
                                                            <option *ngFor="let especialidad of especialidades" [value]="especialidad?.codEspecialidad">{{ especialidad?.nombre }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-lg-6 ml-auto mr-auto">
                                                <p class="h5 text-white" style="font-weight: 400;">Datos de contacto</p>
                                                <label>E-mail (Solo de Gmail)</label>
                                                <input type="text" class="form-control" placeholder="Ej.: ejemplo@gmail.com" formControlName="email">

                                                <label>E-mail académico</label>
                                                <input type="text" class="form-control" placeholder="Ej.: legajo@carrera.frc.utn.edu.ar" formControlName="emailAcademico">

                                                <label>Repetir e-mail académico</label>
                                                <input type="text" class="form-control" placeholder="Ej.: legajo@carrera.frc.utn.edu.ar" formControlName="repeEmailAcademico">

                                                <label>Número de celular</label>
                                                <input type="text" class="form-control" placeholder="Ej.: 3510000000" formControlName="celular">

                                                <div class="row">
                                                    <div class="col-lg-6 ml-auto mr-auto">
                                                        <label>Red social</label>
                                                        <select class="form-control" formControlName="codMedio">
                                                            <option disabled selected value> -- Red social -- </option>
                                                            <option *ngFor="let medio of medios" [value]="medio?.codMedio">{{ medio?.nombre }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6 ml-auto mr-auto">
                                                        <label>Usuario</label>
                                                        <input type="text" class="form-control" placeholder="Usuario" formControlName="descripcionMedio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-4 ml-auto mr-auto">
                                                <button class="btn btn-danger btn-block btn-round" [disabled]="desactBotonSolicitar" (click)="solicitarPreInscripcion()">Enviar Solicitud</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" style="font-weight: 900;" role="alert" [hidden]="!error">
                        {{ mensajeError }}
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <footer class="footer register-footer ">
                <div class="container">
                <div class="row" style="text-align: center;">
                    <div class="credits ml-auto">
                    <span style="color: white;">
                        © {{ anio }}, Hecho con <i class="fa fa-heart heart" style="color:crimson;"></i> para AVEIT - <strong>Cómputos</strong>
                    </span>
                    </div>
                </div>
                </div>
            </footer>
        </div>
    </div>
</body>